<section class="wrapper bg-light">
<div class="container-card">
    <div class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-light-500" data-image-src="{{ page.cta.bg_image }}">
      <div class="card-body py-14 px-0">
        <div class="container">
          <div class="row text-center">
            <div class="col-xl-11 col-xxl-9 mx-auto">
              <h2 class="fs-16 text-uppercase text-gradient gradient-1 mb-3">{{ page.cta.title_tag }}</h2>
              <h3 class="display-4 mb-7 px-lg-17">{{ page.cta.title }}</h3>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
          <div class="d-flex justify-content-center">
            <span><a class="{{ page.cta.button.class }}">{{ page.cta.button.label }}</a></span>
          </div>
        </div>
        <!--/.container -->
      </div>
      <!--/.card-body -->
    </div>
    <!--/.card -->
  </div>
  <!-- /.container-card -->
</section>
<!-- /section -->