<section class="wrapper bg-light">
  <div class="container">
<div class="row gx-lg-8 gx-xl-12 gy-6 ">
  {% for item in page.values.items %}
  <div class="col-lg-4">
    <div class="d-flex flex-row">
      <div>
        <div class="icon btn btn-circle pe-none btn-soft-primary me-4"> <span class="number fs-18">{{ item.number }}</span> </div>
      </div>
      <div>
        <h4>{{ item.title }}</h4>
        <p class="mb-2">{{ item.text }}</p>
      </div>
    </div>
  </div>
  <!--/column -->
  {% endfor %}
</div>
<!--/.row -->
</div>
</section>
