<section class="wrapper bg-dark text-inverse">
  <div class="container py-14 pt-md-17 pb-md-21">
    <div class="row gx-lg-8 gx-xl-12 gy-10 gy-lg-0 mb-2 align-items-center">
      <div class="col-lg-4">
        <h3 class="display-4 text-white mb-3 pe-xxl-15">{{ page.projects.title }}</h3>
        <p class="lead fs-lg mb-0 pe-xxl-10">{{ page.projects.subtitle }}</p>
      </div>
      <!-- /column -->
      <div class="col-lg-8 mt-lg-2">
        <div class="row align-items-center counter-wrapper gy-6 text-center">
          {% for counter in page.projects.counters %}
          <div class="col-md-4">
            <h3 class="counter counter-lg text-white">{{ counter.count }}</h3>
            <p>{{ counter.text }}</p>
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
