<section class="wrapper bg-light">
  <div class="container py-12 py-md-12">
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="row gx-md-5 gy-5 position-relative">
          <div class="col-5">
            <img class="img-fluid rounded shadow-lg my-5 d-flex ms-auto" data-cue="fadeIn" data-delay="300" src="{{ page.features1.images[0].image }}" srcset="{{ page.features1.images[0].image2x }} 2x" alt="" />
            <img class="img-fluid rounded shadow-lg d-flex col-10 ms-auto" data-cue="fadeIn" data-delay="600" src="{{ page.features1.images[1].image }}" srcset="{{ page.features1.images[1].image2x }} 2x" alt="" />
          </div>
          <!-- /column -->
          <div class="col-7">
            <img class="img-fluid rounded shadow-lg mb-5" data-cue="fadeIn" data-delay="900" src="{{ page.features1.images[2].image }}" srcset="{{ page.features1.images[2].image2x }} 2x" alt="" />
            <img class="img-fluid rounded shadow-lg d-flex col-11" data-cue="fadeIn" data-delay="1200" src="{{ page.features1.images[3].image }}" srcset="{{ page.features1.images[3].image2x }} 2x" alt="" />
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h3 class="display-4 mb-5">{{ page.features1.title }}</h3>
        <p class="mb-5">{{ page.features1.text }}</p>
        <div class="row gy-3">
          <div class="col-xl-6">
            <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
              {% for feature in page.features1.features limit:2 %}
              <li{% if forloop.index == 2 %} class="mt-3"{% endif %}><span><i class="uil uil-check"></i></span><span>{{ feature.text }}</span></li>
              {% endfor %}
            </ul>
          </div>
          <!--/column -->
          <div class="col-xl-6">
            <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
              {% for feature in page.features1.features offset:2 limit:2 %}
              <li{% if forloop.index == 2 %} class="mt-3"{% endif %}><span><i class="uil uil-check"></i></span><span>{{ feature.text }}</span></li>
              {% endfor %}
            </ul>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
