<section class="wrapper bg-light">
  <div class="container pt-11 pt-md-13 pb-11 pb-md-19 pb-lg-22 text-center">
    <div class="row">
      <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto" data-cues="slideInDown" data-group="page-title">
        <h1 class="display-1 fs-60 mb-4 px-md-15 px-lg-0">{{ page.hero.title }}</h1>
        <p class="lead fs-24 lh-sm mb-7 mx-md-13 mx-lg-10">{{ page.hero.subtitle }}</p>
        <div>
          {% for button in page.hero.buttons %}
          <a href="{{ button.url }}" class="{{ button.class }}">{{ button.label }}</a>
          {% endfor %}
        </div>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
