<section class="wrapper overflow-hidden">
  <div class="container pt-19 pt-md-21 pb-16 pb-md-18 text-center position-relative">
    <div class="position-absolute" style="top: -12%; left: 50%; transform: translateX(-50%);" data-cue="fadeIn"><img src="{{ '/assets/img/photos/blurry.png' | relative_url }}" alt=""></div>
    <div class="row position-relative">
      <div class="col-lg-8 col-xxl-7 mx-auto position-relative">
        {% for shape in page.hero.shapes %}
        <div class="position-absolute {{ shape.class }}" style="{{ shape.position }}" data-cue="fadeIn" data-delay="{{ shape.delay }}">
          <img src="{{ shape.image | relative_url }}" class="svg-inject icon-svg w-100 h-100" alt="" />
        </div>
        {% endfor %}
        <div data-cues="slideInDown" data-group="page-title">
          <h1 class="display-1 fs-64 mb-5 mx-md-10 mx-lg-0">{{ page.hero.title }}</h1>
          <p class="lead fs-24 mb-8">{{ page.hero.subtitle }}</p>
        </div>
        <div class="d-md-flex justify-content-center" data-cues="slideInDown" data-delay="600">
          {% for button in page.hero.buttons %}
          <span>
            <a href="{{ button.url }}" class="{{ button.class }}" {% if button.target %}target="{{ button.target }}"{% endif %}>
              {{ button.label }} {% if button.icon %}<i class="{{ button.icon }}"></i>{% endif %}
            </a>
          </span>
          {% endfor %}
        </div>
        <!-- /div -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
