<div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
  <div class="col-lg-7 position-relative">
    <div class="position-absolute" style="top: 50%; left: 50%; width: 130%; height: auto; transform: translate(-50%,-50%); z-index:0"><img class="w-100" src="{{ '/assets/img/photos/blurry.png' | relative_url }}" alt=""></div>
    <div class="row gx-md-5 gy-5">
      {% for testimonial in page.testimonials.items %}
      <div class="col-md-6 {% if forloop.index == 3 %}col-xl-5 offset-xl-1{% elsif forloop.index == 1 %}col-xl-5 align-self-end{% elsif forloop.index == 2 %}align-self-end{% elsif forloop.index == 4 %}align-self-start{% endif %}">
        <div class="card shadow-xl rounded-xl">
          <div class="card-body">
            <blockquote class="icon mb-0">
              <p>{{ testimonial.text }}</p>
              <div class="blockquote-details">
                <div class="info p-0">
                  <h5 class="mb-0">{{ testimonial.name }}</h5>
                </div>
              </div>
            </blockquote>
          </div>
          <!--/.card-body -->
        </div>
        <!--/.card -->
      </div>
      <!--/column -->
      {% endfor %}
    </div>
    <!--/.row -->
  </div>
  <!--/column -->
  <div class="col-lg-4">
    <h2 class="display-2 mb-4 mt-lg-n6">{{ page.testimonials.title }}</h2>
    <p class="lead fs-22 mb-6">{{ page.testimonials.subtitle }}</p>
    <a href="{{ page.testimonials.button.url }}" class="{{ page.testimonials.button.class }}" {% if page.testimonials.button.target %}target="{{ page.testimonials.button.target }}"{% endif %}>
      {{ page.testimonials.button.label }} {% if page.testimonials.button.icon %}<i class="{{ page.testimonials.button.icon }}"></i>{% endif %}
    </a>
  </div>
  <!--/column -->
</div>
<!--/.row -->
