<section class="wrapper bg-light">
<div class="container pb-14 pb-md-16">
<div class="row grid-view gy-6 gy-xl-0">
    {% for member in site.data.team.members | limit: 4 %}
    <div class="col-md-6 col-xl-3">
      <div class="card shadow-lg">
        <div class="card-body">
          <img class="rounded-circle w-15 mb-4" src="{{ member.avatar_image }}" srcset="{{ member.avatar_image2x }} 2x" alt="" />
          <h4 class="mb-1">{{ member.name }}</h4>
          <div class="meta mb-2">{{ member.role }}</div>
          <p class="mb-2">{{ member.bio }}</p>
          <nav class="nav social mb-0">
            {% for social in member.social %}
            <a href="{{ social.url }}"><i class="{{ social.icon }}"></i></a>
            {% endfor %}
          </nav>
          <!-- /.social -->
        </div>
        <!--/.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!--/column -->
    {% endfor %}
  </div>
  <!--/.row -->
  </div>
</section>
