<section class="wrapper bg-gradient-primary">
  <div class="container pt-12 pt-lg-8 pb-14 pb-md-17">
    <div class="row text-center">
      <div class="col-lg-8 offset-lg-2">
        <h2 class="fs-16 text-uppercase text-primary mb-3">{{ page.testimonials.title }}</h2>
        <h3 class="display-3 mb-10 px-xxl-10">{{ page.testimonials.subtitle }}</h3>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="grid">
      <div class="row isotope gy-6">
        {% for testimonial in site.data.testimonials.testimonials %}
        <div class="item col-md-6 col-xl-4">
          <div class="card shadow-lg">
            <div class="card-body">
              <span class="ratings five mb-2"></span>
              <blockquote class="border-0 mb-0">
                <p>"{{ testimonial.quote }}"</p>
                <div class="blockquote-details">
                  <img class="rounded-circle w-12" src="{{ testimonial.avatar_image }}" srcset="{{ testimonial.avatar_image2x }} 2x" alt="" />
                  <div class="info">
                    <h5 class="mb-1">{{ testimonial.name }}</h5>
                    <p class="mb-0">{{ testimonial.position }}</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!--/column -->
        {% endfor %}
      </div>
      <!-- /.row -->
    </div>
    <!-- /.grid-view -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
