<section class="wrapper pattern-wrapper bg-image section-frame" data-image-src="/assets/img/pattern.png">
  <div class="container py-14 pt-md-16 pt-lg-0 pb-md-12">
    <div class="row text-center mb-13">
      <div class="col-lg-12 mx-auto">
        <div class="mt-lg-n23 mt-xl-n21">
          <figure class="rounded-xl"><img src="{{ page.about.image }}" srcset="{{ page.about.image2x }} 2x" alt="" /></figure>
        </div>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <div class="row gx-md-8 gx-lg-12 gy-6 gy-lg-0 mb-13">
      <div class="col-lg-6">
        <h1 class="display-2 mb-0 text-white">{{ page.about.title }}</h1>
      </div>
      <!-- /column -->
      <div class="col-lg-6">
        <p class="lead fs-lg mb-3 text-inverse">{{ page.about.subtitle }}</p>
        <a href="{{ page.about.link_url }}" class="more link-white hover">{{ page.about.link_text }}</a>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
