<section class="wrapper bg-soft-primary">
  <div class="container mb-12">
<div class="card image-wrapper bg-full bg-image bg-overlay mb-n50p mx-md-5" data-image-src="{{ page.cta.bg_image }}">
  <div class="card-body p-6 p-md-11 d-lg-flex flex-row align-items-lg-center justify-content-md-between text-center text-lg-start">
    <h3 class="display-4 mb-6 mb-lg-0 pe-lg-10 pe-xl-5 pe-xxl-18 text-white">{{ page.cta.title }}</h3>
    <a href="{{ page.cta.button_url }}" class="btn btn-lg btn-white rounded mb-0 text-nowrap">{{ page.cta.button_text }}</a>
  </div>
  <!--/.card-body -->
</div>
<!--/.card -->
</div>
</section>
