<section class="wrapper overflow-hidden">
  <div class="container pt-19 pt-md-21 text-center position-relative">
    <div class="position-absolute" style="top: -15%; left: 50%; transform: translateX(-50%);" data-cue="fadeIn"><img src="/assets/img/photos/blurry.png" alt=""></div>
    <div class="row position-relative">
      <div class="col-lg-8 col-xxl-7 mx-auto position-relative">
        <div class="position-absolute shape grape w-5 d-none d-lg-block" style="top: -5%; left: -15%;" data-cue="fadeIn" data-delay="1500"><img src="/assets/img/svg/pie.svg" class="svg-inject icon-svg w-100 h-100" alt="" /></div>
        <div class="position-absolute shape violet w-10 d-none d-lg-block" style="bottom: 30%; left: -20%;" data-cue="fadeIn" data-delay="1500"><img src="/assets/img/svg/scribble.svg" class="svg-inject icon-svg w-100 h-100" alt="" /></div>
        <div class="position-absolute shape fuchsia w-6 d-none d-lg-block" style="top: 0%; right: -25%; transform: rotate(70deg);" data-cue="fadeIn" data-delay="1500"><img src="/assets/img/svg/tri.svg" class="svg-inject icon-svg w-100 h-100" alt="" /></div>
        <div class="position-absolute shape yellow w-6 d-none d-lg-block" style="bottom: 25%; right: -17%;" data-cue="fadeIn" data-delay="1500"><img src="/assets/img/svg/circle.svg" class="svg-inject icon-svg w-100 h-100" alt="" /></div>
        <div data-cues="slideInDown" data-group="page-title">
          <h1 class="display-1 fs-64 mb-5 mx-md-10 mx-lg-0">We are a digital web agency specializing on <br /><span class="rotator-fade text-primary">web design.,SEO services.,e-commerce.,Google Adwords.</span></h1>
          <p class="lead fs-24 mb-8">{{ page.hero.subtitle }}</p>
        </div>
        <div class="d-flex justify-content-center" data-cues="slideInDown" data-delay="600">
          {% for button in page.hero.buttons %}
          <span><a href="{{ button.url }}" class="{{ button.class }}">{{ button.label }}</a></span>
          {% endfor %}
        </div>
        <!-- /div -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="container-fluid px-xl-0 pt-16 pt-md-18 pb-18 pb-md-20">
    <div class="swiper-container swiper-auto nav-color nav-bottom nav-far" data-margin="40" data-nav="true" data-centered="true" data-loop="true" data-items-auto="true">
      <div class="swiper overflow-visible">
        <div class="swiper-wrapper">
          {% for project in page.projects_slider.projects %}
          <div class="swiper-slide">
            <figure class="rounded-xl shadow-xl"><img src="{{ project.image }}" srcset="{{ project.image2x }} 2x" alt="" /><a class="item-link" href="{{ project.url }}"><i class="uil uil-arrow-up-right"></i></a></figure>
          </div>
          <!--/.swiper-slide -->
          {% endfor %}
        </div>
        <!--/.swiper-wrapper -->
      </div>
      <!-- /.swiper -->
    </div>
    <!-- /.swiper-container -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->