<section class="wrapper bg-light pt-16 pt-md-18">
  <div class="container ">
    <div class="row gx-lg-8 gx-xl-12 gy-12 align-items-center mb-10 mb-md-13">
      <div class="col-lg-6 position-relative">
        <div class="btn btn-circle btn-primary pe-none position-absolute counter-wrapper flex-column d-none d-md-flex" style="top: 50%; left: 50%; transform: translate(-50%, -50%); width: 170px; height: 170px;">
          <h3 class="text-white mb-1 mt-n2"><span class="counter counter-lg">{{ page.about.experience_counter.number }}</span></h3>
          <p>{{ page.about.experience_counter.text }}</p>
        </div>
        <div class="row gx-md-5 gy-5 align-items-center">
          <div class="col-md-6">
            <div class="row gx-md-5 gy-5">
              <div class="col-md-10 offset-md-2">
                <figure class="rounded"><img src="/assets/img/photos/ab1.jpg" srcset="/assets/img/photos/ab1@2x.jpg 2x" alt=""></figure>
              </div>
              <!--/column -->
              <div class="col-md-12">
                <figure class="rounded"><img src="/assets/img/photos/ab2.jpg" srcset="/assets/img/photos/ab2@2x.jpg 2x" alt=""></figure>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/column -->
          <div class="col-md-6">
            <figure class="rounded"><img src="/assets/img/photos/ab3.jpg" srcset="/assets/img/photos/ab3@2x.jpg 2x" alt=""></figure>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h3 class="display-4 mb-5">{{ page.about.title }}</h3>
        <p class="mb-7">{{ page.about.text }}</p>
        <div class="row gy-3">
          <div class="col-xl-6">
            <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
              {% for feature in page.about.features limit:2 %}
              <li class="{% if forloop.index > 1 %}mt-3{% endif %}"><span><i class="uil uil-check"></i></span><span>{{ feature.text }}</span></li>
              {% endfor %}
            </ul>
          </div>
          <!--/column -->
          <div class="col-xl-6">
            <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
              {% for feature in page.about.features offset:2 limit:2 %}
              <li class="{% if forloop.index > 1 %}mt-3{% endif %}"><span><i class="uil uil-check"></i></span><span>{{ feature.text }}</span></li>
              {% endfor %}
            </ul>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->