<section class="wrapper bg-light">
    <div class="container">
<div class="row gx-lg-8 gx-xl-12 gy-8">
  {% for service in page.services.items %}
  <div class="col-md-6 col-lg-4">
    <div class="d-flex flex-row">
      <div>
        <img src="/assets/img/icons/lineal/{{ service.icon }}.svg" class="svg-inject icon-svg icon-svg-sm text-primary me-4" alt="" />
      </div>
      <div>
        <h4 class="mb-1">{{ service.title }}</h4>
        <p class="mb-0">{{ service.text }}</p>
      </div>
    </div>
  </div>
  <!--/column -->
  {% endfor %}
</div>
<!--/.row -->
</div>
</section>