<hr class="my-14 my-md-17" />
<section class="wrapper bg-light">
  <div class="container mb-14 mb-md-17">
<div class="row gy-10 gy-sm-13 gx-lg-8 align-items-center">
  <div class="col-lg-7 order-lg-2">
    <div class="row gx-md-5 gy-5">
      <div class="col-md-4 offset-md-2 align-self-end">
        <figure class="rounded"><img src="/assets/img/photos/g1.jpg" srcset="/assets/img/photos/g1@2x.jpg 2x" alt=""></figure>
      </div>
      <!--/column -->
      <div class="col-md-6 align-self-end">
        <figure class="rounded"><img src="/assets/img/photos/g2.jpg" srcset="/assets/img/photos/g2@2x.jpg 2x" alt=""></figure>
      </div>
      <!--/column -->
      <div class="col-md-6 offset-md-1">
        <figure class="rounded"><img src="/assets/img/photos/g3.jpg" srcset="/assets/img/photos/g3@2x.jpg 2x" alt=""></figure>
      </div>
      <!--/column -->
      <div class="col-md-4 align-self-start">
        <figure class="rounded"><img src="/assets/img/photos/g4.jpg" srcset="/assets/img/photos/g4@2x.jpg 2x" alt=""></figure>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!--/column -->
  <div class="col-lg-5">
    <h3 class="display-4 mb-7">{{ page.why_choose_us.title }}</h3>
    <div class="accordion accordion-wrapper" id="accordionExample">
      {% for item in page.why_choose_us.accordion %}
      <div class="card plain accordion-item">
        <div class="card-header" id="heading{{ forloop.index }}">
          <button class="accordion-button {% unless item.active %}collapsed{% endunless %}" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.index }}" aria-expanded="{% if item.active %}true{% else %}false{% endif %}" aria-controls="collapse{{ forloop.index }}"> {{ item.title }} </button>
        </div>
        <!--/.card-header -->
        <div id="collapse{{ forloop.index }}" class="accordion-collapse collapse {% if item.active %}show{% endif %}" aria-labelledby="heading{{ forloop.index }}" data-bs-parent="#accordionExample">
          <div class="card-body">
            <p>{{ item.content }}</p>
          </div>
          <!--/.card-body -->
        </div>
        <!--/.accordion-collapse -->
      </div>
      <!--/.accordion-item -->
      {% endfor %}
    </div>
    <!--/.accordion -->
  </div>
  <!--/column -->
</div>
<!--/.row -->
</div>
</section>