<section class="wrapper {{ page.hero.bg_color }} {{ page.hero.text_color }}">
  <div class="container pt-18 pt-md-20 pb-21 pb-md-21 text-center">
    <div class="row">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6 col-xxl-5 mx-auto">
        <h1 class="display-1 {{ page.hero.text_color }} mb-3">{{ page.hero.title }}</h1>
        <p class="lead px-xl-10 px-xxl-10">{{ page.hero.subtitle }}</p>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
