<ul class="navbar-nav">
  <li class="nav-item"><a class="nav-link scroll active" href="#home">Home</a></li>
  <li class="nav-item"><a class="nav-link scroll" href="#about">About</a></li>
  <li class="nav-item"><a class="nav-link scroll" href="#services">Services</a></li>
  <li class="nav-item"><a class="nav-link scroll" href="#projects">Projects</a></li>
  <li class="nav-item"><a class="nav-link scroll" href="#testimonials">Testimonials</a></li>
  <li class="nav-item"><a class="nav-link scroll" href="#contact">Contact</a></li>
</ul>