<section class="wrapper bg-gradient-primary">
  <div class="container pt-15 pt-md-17">
    <h2 class="{{ page.trusted_clients.title_class }}">{{ page.trusted_clients.title }}</h2>
    <div class="swiper-container clients mb-19" data-margin="30" data-dots="false" data-loop="true" data-autoplay="true" data-autoplaytime="1" data-drag="false" data-speed="5000" data-items-xxl="7" data-items-xl="6" data-items-lg="5" data-items-md="4" data-items-sm="3" data-items-xs="3">
      <div class="swiper pe-none">
        <div class="swiper-wrapper ticker">
          {% for client in site.data.clients.clients %}
          <div class="swiper-slide px-5"><img src="{{ client.image }}" alt="" /></div>
          {% endfor %}
        </div>
        <!--/.swiper-wrapper -->
      </div>
      <!-- /.swiper -->
    </div>
    <!-- /.swiper-container -->
