<section class="wrapper bg-light">
  <div class="container pt-lg-20 pb-18 pb-xxl-20 position-relative">
    <img class="position-lg-absolute col-12 col-lg-12 mt-xxl-n3 mb-3 mb-md-10 mb-lg-0" src="{{ page.responsive.image }}" srcset="{{ page.responsive.image2x }} 2x" data-cue="fadeIn" alt="" style="top: 0; left: -23%;" />
    <div class="row gx-lg-8 gx-xl-12 mt-lg-n16 mt-xl-n12 mt-xxl-0 align-items-xxl-center">
      <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-6 text-center text-lg-start">
        <div class="ps-xl-1 ps-xxl-5 pe-xxl-10">
          <h2 class="fs-15 ls-xl text-uppercase text-muted mb-3">{{ page.responsive.subtitle }}</h2>
          <h3 class="display-3 mb-5">{{ page.responsive.title }}</h3>
          <p class="lead mb-8">{{ page.responsive.text }}</p>
          <img src="{{ page.responsive.qr_code.image }}" srcset="{{ page.responsive.qr_code.image2x }} 2x" class="shadow-lg rounded" alt="" />
        </div>
        <!--/div -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
