<section class="wrapper bg-light angled upper-end lower-end">
  <div class="container pb-14 pb-md-16">
    <div class="row">
      <div class="col-12 mt-n20">
        <figure class="rounded"><img src="{{ page.about.image }}" srcset="{{ page.about.image2x }} 2x" alt="" /></figure>
        <div class="row" data-cue="slideInUp">
          <div class="col-xl-10 mx-auto">
            <div class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-300 text-white mt-n5 mt-lg-0 mt-lg-n50p mb-lg-n50p border-radius-lg-top" data-image-src="{{ page.about.stats_background }}">
              <div class="card-body p-9 p-xl-10">
                <div class="row align-items-center counter-wrapper gy-4 text-center">
                  {% for stat in page.about.stats_items %}
                  <div class="col-6 col-lg-3">
                    <h3 class="counter counter-lg text-white">{{ stat.count }}</h3>
                    <p>{{ stat.text }}</p>
                  </div>
                  <!--/column -->
                  {% endfor %}
                </div>
                <!--/.row -->
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
