<div class="row gy-6 gy-lg-0">
  <div class="col-lg-4">
    <div class="widget">
      <h3 class="h2 mb-3 {% if include.lightText %}text-white{% endif %}">{{ site.data.footer.three_column.cta_title | default: 'Join the Community' }}</h3>
      <p class="lead mb-5">{{ site.data.footer.three_column.cta_text | default: "Let's make something great together. We are trusted by over 5000+ clients. Join them by using our services and grow your business." }}</p>
      <a href="{{ site.data.footer.three_column.cta_button_url | default: '#' }}" 
         class="btn {% if include.lightText %}btn-white{% else %}btn-primary{% endif %} rounded-pill">
         {{ site.data.footer.three_column.cta_button_text | default: 'Join Us' }}
      </a>
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-md-4 col-lg-2 offset-lg-2">
    <div class="widget">
      <h4 class="widget-title {% if include.lightText %}text-white{% endif %} mb-3">{{ site.data.footer.three_column.column_1.title | default: 'Need Help?' }}</h4>
      <ul class="list-unstyled {{ include.linkClass }} mb-0">
        {% for link in site.data.footer.three_column.column_1.links %}
          <li><a href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
        {% endfor %}
        {% if site.data.footer.three_column.column_1.links.size == 0 %}
          <li><a href="#">Support</a></li>
          <li><a href="#">Get Started</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        {% endif %}
      </ul>
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-md-4 col-lg-2">
    <div class="widget">
      <h4 class="widget-title {% if include.lightText %}text-white{% endif %} mb-3">{{ site.data.footer.three_column.column_2.title | default: 'Learn More' }}</h4>
      <ul class="list-unstyled {{ include.linkClass }} mb-0">
        {% for link in site.data.footer.three_column.column_2.links %}
          <li><a href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
        {% endfor %}
        {% if site.data.footer.three_column.column_2.links.size == 0 %}
          <li><a href="#">About Us</a></li>
          <li><a href="#">Our Story</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Features</a></li>
        {% endif %}
      </ul>
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-md-4 col-lg-2">
    <div class="widget">
      <h4 class="widget-title {% if include.lightText %}text-white{% endif %} mb-3">{{ site.data.footer.three_column.column_3.title | default: 'Get in Touch' }}</h4>
      <address>{{ site.data.footer.three_column.column_3.address | default: site.data.theme.address | default: 'Moonshine St. 14/05 Light City, London, United Kingdom' }}</address>
      <a href="mailto:{{ site.data.footer.three_column.column_3.email | default: site.data.theme.email | default: 'info@email.com' }}" class="{{ include.linkClass }}">
        {{ site.data.footer.three_column.column_3.email | default: site.data.theme.email | default: 'info@email.com' }}
      </a><br /> 
      {{ site.data.footer.three_column.column_3.phone | default: site.data.theme.phone | default: '00 (123) 456 78 90' }}
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
</div>
<!--/.row -->
<hr class="mt-13 mt-md-15 mb-7" />
<div class="d-md-flex align-items-center justify-content-between">
  <p class="mb-2 mb-lg-0">© {{ site.time | date: '%Y' }} {{ site.data.theme.company_name | default: site.title | default: 'Sandbox' }}. All rights reserved.</p>
  <nav class="nav social {% if include.lightText %}social-white{% endif %} text-md-end">
    {% for social in site.data.social.social_accounts.links | default: site.data.theme.social_accounts.links %}
      <a href="{{ social.url }}"><i class="{{ social.icon }}"></i></a>
    {% endfor %}
  </nav>
  <!-- /.social -->
</div>
<!-- /div -->
