<div class="row gx-lg-0 gy-6">
  <div class="col-lg-4">
    <div class="widget">
      {% if include.lightText %}
        <img class="mb-4" src="{{ site.data.theme.light_logo_1x | default: '/assets/img/logo-light.webp' | relative_url }}" 
             srcset="{{ site.data.theme.light_logo_2x | default: '/assets/img/logo-light@2x.webp' | relative_url }} 2x" alt="" />
      {% else %}
        <img class="mb-4" src="{{ site.data.theme.dark_logo_1x | default: '/assets/img/logo-dark.webp' | relative_url }}" 
             srcset="{{ site.data.theme.dark_logo_2x | default: '/assets/img/logo-dark@2x.webp' | relative_url }} 2x" alt="" />
      {% endif %}
      <p class="lead mb-0">{{ site.data.footer.four_column.tagline | default: "We are trusted by over 5000+ clients. Join them by using our services and grow your business." }}</p>
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-lg-3 offset-lg-2">
    <div class="widget">
      <div class="d-flex flex-row">
        <div>
          <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="{{ site.data.footer.four_column.column_1.icon | default: 'uil uil-phone-volume' }}"></i> </div>
        </div>
        <div>
          <h5 class="mb-1">{{ site.data.footer.four_column.column_1.title | default: "Phone" }}</h5>
          <p class="mb-0">{{ site.data.footer.four_column.column_1.primary | default: site.data.theme.phone | default: "00 (123) 456 78 90" }} <br />{{ site.data.footer.four_column.column_1.secondary | default: "00 (987) 654 32 10" }}</p>
        </div>
      </div>
      <!--/div -->
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-lg-3">
    <div class="widget">
      <div class="d-flex flex-row">
        <div>
          <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="{{ site.data.footer.four_column.column_2.icon | default: 'uil uil-location-pin-alt' }}"></i> </div>
        </div>
        <div class="align-self-start justify-content-start">
          <h5 class="mb-1">{{ site.data.footer.four_column.column_2.title | default: "Address" }}</h5>
          <address>{{ site.data.footer.four_column.column_2.text | default: site.data.theme.address | default: "Moonshine St. 14/05 Light City, London, United Kingdom" }}</address>
        </div>
      </div>
      <!--/div -->
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
</div>
<!--/.row -->
<hr class="mt-13 mt-md-14 mb-7" />
<div class="d-md-flex align-items-center justify-content-between">
  <p class="mb-2 mb-lg-0">© {{ site.time | date: '%Y' }} {{ site.data.theme.company_name | default: site.title | default: 'Sandbox' }}. All rights reserved.</p>
  <nav class="nav social {% if include.lightText %}social-white{% else %}social-muted{% endif %} mb-0 text-md-end">
    {% for social in site.data.social.links | default: site.data.theme.social_accounts.links %}
      <a href="{{ social.url }}"><i class="{{ social.icon }}"></i></a>
    {% endfor %}
    {% if site.data.social.links.size == 0 %}
      <a href="#"><i class="uil uil-twitter"></i></a>
      <a href="#"><i class="uil uil-facebook-f"></i></a>
      <a href="#"><i class="uil uil-dribbble"></i></a>
      <a href="#"><i class="uil uil-instagram"></i></a>
      <a href="#"><i class="uil uil-youtube"></i></a>
    {% endif %}
  </nav>
  <!-- /.social -->
</div>