<section class="wrapper image-wrapper bg-cover bg-image bg-xs-none bg-gray" data-image-src="{{ page.hero.image }}">
  <div class="container pt-17 pb-15 py-sm-17 py-xxl-20">
    <div class="row">
      <div class="col-sm-6 col-xxl-5 text-center text-sm-start" data-cues="slideInDown" data-group="page-title" data-interval="-200" data-delay="500">
        <h2 class="display-1 fs-56 mb-4 mt-0 mt-lg-5 ls-xs pe-xl-5 pe-xxl-0">{{ page.hero.title }}</h2>
        <p class="lead fs-23 lh-sm mb-7 pe-lg-5 pe-xl-5 pe-xxl-0">{{ page.hero.subtitle }}</p>
        <div><a href="{{ page.hero.button_url }}" class="btn btn-lg btn-primary rounded">{{ page.hero.button_text }}</a></div>
      </div>
      <!--/column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
