<section class="wrapper bg-gray position-relative min-vh-60 d-lg-flex align-items-center">
  <div class="col-lg-6 position-lg-absolute top-0 end-0 image-wrapper bg-image bg-cover h-100" data-image-src="{{ page.solutions.bg_image }}">
    <div class="divider text-gray divider-v-start d-none d-lg-block">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 1200"><g /><g><g><polygon fill="currentColor" points="6 0 0 0 0 1200 6 1200 54 0 6 0"/></g></g></svg>
    </div>
  </div>
  <!--/column -->
  <div class="container">
    <div class="row gx-0">
      <div class="col-lg-6">
        <div class="pt-13 pb-15 pb-md-17 py-lg-16 pe-lg-15">
          <h2 class="fs-16 text-uppercase text-muted mb-3">{{ page.solutions.title_tag }}</h2>
          <h3 class="display-3 ls-sm mb-5">{{ page.solutions.title }}</h3>
          <p class="mb-6">{{ page.solutions.text }}</p>
          <div class="row align-items-center counter-wrapper gy-6">
            {% for stat in page.solutions.stats %}
            <div class="col-md-6">
              <h3 class="counter counter-lg mb-1">{{ stat.value }}</h3>
              <h6 class="fs-17 ls-sm mb-1">{{ stat.label }}</h6>
              <span class="ratings five"></span>
            </div>
            <!--/column -->
            {% endfor %}
          </div>
          <!--/.row -->
        </div>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
