<section class="wrapper bg-soft-primary angled lower-start">
  <div class="container py-14 py-md-16">
    <div class="row">
      <div class="col-xl-10 mx-auto">
        <div class="row align-items-center counter-wrapper gy-6 text-center">
          {% for counter in page.stats.counters %}
          <div class="col-md-3">
            <img src="{{ counter.icon }}" class="svg-inject icon-svg icon-svg-lg text-primary mb-3" alt="" />
            <h3 class="counter">{{ counter.count }}</h3>
            <p>{{ counter.text }}</p>
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
