<section class="wrapper bg-soft-primary">
  <div class="container pt-10 pb-12 pt-md-14 pb-md-17">
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
      <div class="col-md-10 offset-md-1 offset-lg-0 col-lg-5 mt-lg-n2 text-center text-lg-start order-2 order-lg-0" data-cues="slideInDown" data-group="page-title" data-delay="600">
        <h1 class="display-1 mb-5 mx-md-10 mx-lg-0">{{ page.hero.title_html }}</h1>
        <p class="lead fs-lg mb-7">{{ page.hero.subtitle }}</p>
        <div class="d-flex justify-content-center justify-content-lg-start" data-cues="slideInDown" data-group="page-title-buttons" data-delay="900">
          {% for button in page.hero.buttons %}
          <span><a class="{{ button.class }}">{{ button.label }}</a></span>
          {% endfor %}
        </div>
      </div>
      <!-- /column -->
      <div class="col-lg-7">
        <div class="row">
          <div class="col-3 offset-1 offset-lg-0 col-lg-4 d-flex flex-column" data-cues="zoomIn" data-group="col-start" data-delay="300">
            <div class="ms-auto mt-auto"><img class="img-fluid rounded shadow-lg" src="{{ page.hero.gallery[0].image }}" srcset="{{ page.hero.gallery[0].image2x }} 2x" alt="" /></div>
            <div class="ms-auto mt-5 mb-10"><img class="img-fluid rounded shadow-lg" src="{{ page.hero.gallery[1].image }}" srcset="{{ page.hero.gallery[1].image2x }} 2x" alt="" /></div>
          </div>
          <!-- /column -->
          <div class="col-4 col-lg-5" data-cue="zoomIn">
            <div><img class="w-100 img-fluid rounded shadow-lg" src="{{ page.hero.gallery[2].image }}" srcset="{{ page.hero.gallery[2].image2x }} 2x" alt="" /></div>
          </div>
          <!-- /column -->
          <div class="col-3 d-flex flex-column" data-cues="zoomIn" data-group="col-end" data-delay="300">
            <div class="mt-auto"><img class="img-fluid rounded shadow-lg" src="{{ page.hero.gallery[3].image }}" srcset="{{ page.hero.gallery[3].image2x }} 2x" alt="" /></div>
            <div class="mt-5"><img class="img-fluid rounded shadow-lg" src="{{ page.hero.gallery[4].image }}" srcset="{{ page.hero.gallery[4].image2x }} 2x" alt="" /></div>
            <div class="mt-5 mb-10"><img class="img-fluid rounded shadow-lg" src="{{ page.hero.gallery[5].image }}" srcset="{{ page.hero.gallery[5].image2x }} 2x" alt="" /></div>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->