<section class="wrapper bg-soft-primary">
  <div class="container pt-14 pt-md-17 pb-md-14">
    <div class="row mt-md-n25">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mx-auto text-center">
        <h2 class="fs-15 text-uppercase text-muted mb-3">{{ page.testimonials.title }}</h2>
        <h3 class="display-4 mb-10 px-xl-10 px-xxl-15">{{ page.testimonials.subtitle }}</h3>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="grid">
      <div class="row isotope gy-6">
        {% for testimonial in site.data.testimonials.testimonials %}
        <div class="item col-md-6 col-xl-4">
          <div class="card shadow-lg">
            <div class="card-body">
              <span class="ratings five mb-3"></span>
              <blockquote class="icon mb-0">
                <p>{{ testimonial.quote }}</p>
                <div class="blockquote-details">
                  <img class="rounded-circle w-12" src="{{ testimonial.avatar_image }}" srcset="{{ testimonial.avatar_image2x }} 2x"
                    alt="" />
                  <div class="info">
                    <h5 class="mb-1">{{ testimonial.name }}</h5>
                    <p class="mb-0">{{ testimonial.position }}</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        {% endfor %}
        <!--/column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.grid-view -->
  </div>
</section>