<section class="wrapper bg-soft-primary">
  <div class="container pt-10 pb-15 pt-md-14 pb-md-20">
    <div class="row gx-lg-8 gx-xl-12 gy-10 mb-5 align-items-center">
      <div class="col-md-10 offset-md-1 offset-lg-0 col-lg-5 text-center text-lg-start order-2 order-lg-0" data-cues="slideInDown" data-group="page-title" data-delay="600">
        <h1 class="display-1 mb-5 mx-md-n5 mx-lg-0">{{ page.hero.title }}</h1>
        <p class="lead fs-lg mb-7">{{ page.hero.subtitle }}</p>
        <div class="d-flex justify-content-center justify-content-lg-start" data-cues="slideInDown" data-group="page-title-buttons" data-delay="900">
          {% for button in page.hero.buttons %}
          <span><a href="{{ button.url }}" class="{{ button.class }}">{{ button.label }}</a></span>
          {% endfor %}
        </div>
      </div>
      <!-- /column -->
      <div class="col-lg-7" data-cue="slideInDown">
        <figure><img class="w-auto" src="{{ page.hero.image }}" srcset="{{ page.hero.image2x }} 2x" alt="" /></figure>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
