<section class="wrapper bg-light">
  <div class="container pt-14 pt-md-17">
<div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
  <div class="col-lg-7">
    <figure><img class="w-auto" src="{{ page.process.image }}" srcset="{{ page.process.image2x }} 2x" alt="" /></figure>
  </div>
  <!--/column -->
  <div class="col-lg-5">
    <h3 class="display-4 mb-7">{{ page.process.title }}</h3>
    {% for step in page.process.steps %}
    <div class="d-flex flex-row {% unless forloop.last %}mb-6{% endunless %}">
      <div>
        <span class="icon btn btn-circle btn-soft-primary pe-none me-5"><span class="number fs-18">{{ step.number }}</span></span>
      </div>
      <div>
        <h4 class="mb-1">{{ step.title }}</h4>
        <p class="mb-0">{{ step.text }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <!--/column -->
</div>
<!--/.row -->
</div>
</section>
