<section class="wrapper bg-light">
  <div class="container pt-12 pt-md-14 pb-14 pb-md-16">
    <div class="row gx-md-8 gx-xl-12 gy-6 align-items-center">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="img-mask mask-1"><img src="{{ page.about.image }}" srcset="{{ page.about.image2x }} 2x" alt="" /></div>
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h2 class="display-5 mb-5">{{ page.about.title }}</h2>
        <p class="mb-6">{{ page.about.text }}</p>
        <div class="row counter-wrapper gy-6">
          {% for counter in page.about.counters %}
          <div class="col-md-4">
            <h3 class="counter">{{ counter.count }}</h3>
            <p>{{ counter.text }}</p>
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!-- /.row -->
    <div class="row gx-md-8 gx-xl-12 gy-6 mt-8">
      <div class="col-lg-4">
        <h3>{{ page.skills.title }}</h3>
        <p>{{ page.skills.text }}</p>
        <ul class="progress-list">
          {% for skill in page.skills.skills_list %}
          <li>
            <p>{{ skill.name }}</p>
            <div class="progressbar line soft-primary" data-value="{{ skill.value }}"></div>
          </li>
          {% endfor %}
        </ul>
        <!-- /.progress-list -->
      </div>
      <!-- /column -->
      <div class="col-lg-4">
        <h3>{{ page.why_choose.title }}</h3>
        <p>{{ page.why_choose.text }}</p>
        <ul class="icon-list bullet-bg bullet-soft-primary">
          {% for item in page.why_choose.items %}
          <li><i class="uil uil-check"></i><span>{{ item.text }}</span></li>
          {% endfor %}
        </ul>
      </div>
      <!-- /column -->
      <div class="col-lg-4">
        <h3>{{ page.process.title }}</h3>
        {% for step in page.process.steps %}
        <div class="d-flex flex-row {% unless forloop.last %}mb-5{% endunless %}">
          <div>
            <span class="icon btn btn-circle btn-soft-primary pe-none mt-1 me-5"><span class="number fs-18">{{ step.number }}</span></span>
          </div>
          <div>
            <h5 class="mb-1">{{ step.title }}</h5>
            <p class="mb-0">{{ step.text }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
