<section class="wrapper image-wrapper bg-image bg-overlay text-white" data-image-src="{{ page.cta.bg_image }}">
  <div class="container py-14 py-md-17 text-center">
    <div class="row">
      <div class="col-xl-10 col-xxl-8 mx-auto text-center">
        <i class="icn-flower text-white fs-30 opacity-50"></i>
        <h2 class="display-4 text-white mt-2 mb-7">{{ page.cta.title }}</h2>
        <a href="{{ page.cta.button.url }}" class="btn btn-white rounded-pill mb-5">{{ page.cta.button.text }}</a>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
