<section class="wrapper bg-dark">
  <div class="swiper-container swiper-thumbs-container swiper-fullscreen nav-dark" data-margin="0" data-autoplay="true" data-autoplaytime="7000" data-nav="true" data-dots="false" data-items="1" data-thumbs="true">
    <div class="swiper">
      <div class="swiper-wrapper">
        {% for slide in page.hero.slides %}
        <div class="swiper-slide bg-overlay bg-overlay-400 bg-dark bg-image" data-image-src="{{ slide.image }}"></div>
        {% endfor %}
      </div>
      <!--/.swiper-wrapper -->
    </div>
    <!-- /.swiper -->
    <div class="swiper swiper-thumbs">
      <div class="swiper-wrapper">
        {% for slide in page.hero.slides %}
        <div class="swiper-slide"><img src="{{ slide.thumbnail }}" srcset="{{ slide.thumbnail2x }} 2x" alt="" /></div>
        {% endfor %}
      </div>
      <!--/.swiper-wrapper -->
    </div>
    <!-- /.swiper -->
    <div class="swiper-static">
      <div class="container h-100 d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-lg-8 mx-auto mt-n10 text-center">
            <h1 class="fs-19 text-uppercase ls-xl text-white mb-3 animate__animated animate__zoomIn animate__delay-1s">{{ page.hero.title }}</h1>
            <h2 class="display-1 fs-60 text-white mb-0 animate__animated animate__zoomIn animate__delay-2s">{{ page.hero.subtitle }}</h2>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.swiper-static -->
  </div>
  <!-- /.swiper-container -->
</section>
<!-- /section -->
