{% if page.testimonials.enable %}

  <section class="wrapper image-wrapper bg-image bg-overlay" data-image-src="{{ page.testimonials.background | relative_url }}">
    <div class="container py-15 py-md-17">
      <h2 class="display-5 mb-4 text-center text-white">{{ page.testimonials.title }}</h2>
      <div class="swiper-container dots-closer dots-light dots-light-75" data-margin="0" data-dots="true" data-items-xl="3" data-items-md="2" data-items-xs="1">
        <div class="swiper">
          <div class="swiper-wrapper">
            {% for testimonial in site.data.testimonials.testimonials %}
            <div class="swiper-slide">
              <div class="item-inner">
                <div class="card border-0 bg-white-900">
                  <div class="card-body">
                    <span class="ratings {{ testimonial.rating }} mb-3"></span>
                    <blockquote class="border-0 mb-0">
                      <p>"{{ testimonial.quote }}"</p>
                      <div class="blockquote-details">
                        <div class="info p-0">
                          <h5 class="mb-0">{{ testimonial.name }}</h5>
                          <p class="mb-0">{{ testimonial.position }}</p>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.item-inner -->
            </div>
            <!--/.swiper-slide -->
            {% endfor %}
          </div>
          <!--/.swiper-wrapper -->
        </div>
        <!-- /.swiper -->
      </div>
      <!-- /.swiper-container -->
    </div>
    <!-- /.container -->
  <!-- /.wrapper -->
</section>
{% endif %}
