<section class="wrapper bg-light">
<div class="overflow-hidden">
  <div class="container pt-15 pt-md-18">
    <div class="row">
      <div class="col-lg-9 col-xl-8 col-xxl-7 mx-auto text-center">
        <h3 class="display-4 mb-8">Our Latest Projects</h3>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="swiper-container grid-view nav-bottom nav-color mb-14" data-margin="30" data-dots="false" data-nav="true" data-items-md="2" data-items-xs="1">
      <div class="swiper overflow-visible">
        <div class="swiper-wrapper">
          {% assign sorted_projects = site.projects | where: "category", "Augmented Reality" | reverse | limit: 6 %}
          {% for project in sorted_projects %}
          <div class="swiper-slide">
            <figure class="rounded">
              <img src="{{ project.thumbnail | default: project.hero_image | relative_url }}" alt="{{ project.title }}" />
              <a class="item-link" href="{{ project.url | relative_url }}"><i class="uil uil-link"></i></a>
            </figure>
          </div>
          <!--/.swiper-slide -->
          {% endfor %}
        </div>
        <!--/.swiper-wrapper -->
      </div>
      <!--/.swiper -->
    </div>
    <!-- /.swiper-container -->
  </div>
  <!-- /.container -->
</div>
<!-- /.overflow-hidden -->
</section>
