<section class="wrapper bg-soft-primary">
  <div class="container pt-10 pt-lg-12 pt-xl-12 pt-xxl-10 pb-lg-10 pb-xl-10 pb-xxl-0">
    <div class="row gx-md-8 gx-xl-12 gy-10 align-items-center text-center text-lg-start">
      <div class="col-lg-6" data-cues="slideInDown" data-group="page-title" data-delay="900">
        <h1 class="display-1 mb-4 me-xl-5 mt-lg-n10">{{ page.hero.title }}</h1>
        <p class="lead fs-24 lh-sm mb-7 pe-xxl-15">{{ page.hero.subtitle }}</p>
        <div class="d-inline-flex me-2">
          <a href="{{ page.hero.buttons[0].url }}" class="{{ page.hero.buttons[0].class }}">{{ page.hero.buttons[0].label }}</a>
        </div>
        <div class="d-inline-flex">
          <a href="{{ page.hero.buttons[1].url }}" class="{{ page.hero.buttons[1].class }}">{{ page.hero.buttons[1].label }}</a>
        </div>
      </div>
      <!--/column -->
      <div class="col-10 col-md-7 mx-auto col-lg-6 col-xl-5 ms-xl-5">
        <img class="img-fluid mb-n12 mb-md-n14 mb-lg-n19" src="{{ page.hero.image }}" srcset="{{ page.hero.image2x }} 2x" data-cue="fadeIn" data-delay="300" alt="" />
      </div>
      <!--/column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <figure><img src="{{ page.hero.bg_image }}" alt=""></figure>
</section>
<!-- /section -->
