<section class="wrapper bg-white">
  <div class="container py-14 py-md-16">
    <div class="row gx-3 gy-10 gy-lg-0 align-items-center">
      <div class="col-lg-6">
        <figure><img class="w-auto" src="{{ page.lets_talk.image }}" srcset="{{ page.lets_talk.image2x }} 2x" alt="" /></figure>
      </div>
      <!--/column -->
      <div class="col-lg-5 ms-auto">
        <h2 class="fs-16 text-uppercase text-primary mb-3">{{ page.lets_talk.title_tag }}</h2>
        <h3 class="display-4 mb-3">{{ page.lets_talk.title }}</h3>
        <p>{{ page.lets_talk.text }}</p>
        <a href="{{ page.lets_talk.button_url }}" class="btn btn-primary rounded mt-2">{{ page.lets_talk.button_text }}</a>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
