<section class="wrapper bg-light">
  <div class="container py-14 py-md-16">
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
      <div class="col-lg-7">
        <figure><img class="w-auto" src="{{ page.contact.image }}" srcset="{{ page.contact.image2x }} 2x" alt="" /></figure>
      </div>
      <!--/column -->
      <div class="col-lg-5">
        <h2 class="fs-15 text-uppercase text-line text-primary text-center mb-3">{{ page.contact.title }}</h2>
        <h3 class="display-5 mb-7">{{ page.contact.subtitle }}</h3>
        
        {% for item in page.contact.info %}
        <div class="d-flex flex-row">
          <div>
            <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-{{ item.icon }}"></i> </div>
          </div>
          <div>
            <h5 class="mb-1">{{ item.title }}</h5>
            {% if item.link %}
            <p class="mb-0"><a href="{{ item.link }}" class="link-body">{{ item.text }}</a></p>
            {% else %}
            <address>{{ item.text }}</address>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
