<section class="wrapper {{ page.testimonials.bg_color }}">
  <div class="container py-14 py-md-16">
    <div class="row gx-lg-8 gx-xl-12 gy-6 align-items-center">
      <div class="col-lg-7 order-lg-2">
        <figure><img class="w-auto" src="{{ page.testimonials.image }}" srcset="{{ page.testimonials.image2x }} 2x" alt="" /></figure>
      </div>
      <!--/column -->
      <div class="col-lg-5 mt-lg-12">
        <div class="swiper-container dots-closer mb-6" data-margin="30" data-dots="true">
          <div class="swiper">
            <div class="swiper-wrapper">
              {% for item in site.data.testimonials.testimonials %}
              <div class="swiper-slide">
                <blockquote class="icon icon-top fs-lg text-center">
                  <p>"{{ item.quote }}"</p>
                  <div class="blockquote-details justify-content-center text-center">
                    <div class="info ps-0">
                      <h5 class="mb-1">{{ item.name }}</h5>
                      <p class="mb-0">{{ item.position }}</p>
                    </div>
                  </div>
                </blockquote>
              </div>
              <!--/.swiper-slide -->
              {% endfor %}
            </div>
            <!--/.swiper-wrapper -->
          </div>
          <!-- /.swiper -->
        </div>
        <!-- /.swiper-container -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
