<section class="wrapper bg-light">
  <div class="container py-10 py-md-12">
    <div class="row gy-10 gx-lg-8 gx-xl-12 mb-10 mb-md-14 align-items-center">
      <div class="col-lg-7 position-relative">
        <div class="row gx-md-5 gy-5">
          <div class="col-md-6">
            <figure class="rounded mt-md-10 position-relative" data-cue="fadeIn" data-delay="300">
              <img src="{{ page.lets_talk.images[0].src }}" srcset="{{ page.lets_talk.images[0].src2x }} 2x" alt="">
            </figure>
          </div>
          <!--/column -->
          <div class="col-md-6">
            <div class="row gx-md-5 gy-5">
              <div class="col-md-12 order-md-2">
                <figure class="rounded" data-cue="fadeIn" data-delay="1100">
                  <img src="{{ page.lets_talk.images[1].src }}" srcset="{{ page.lets_talk.images[1].src2x }} 2x" alt="">
                </figure>
              </div>
              <!--/column -->
              <div class="col-md-10">
                <div class="card bg-pale-primary text-center" data-cue="fadeIn" data-delay="800">
                  <div class="card-body py-11 counter-wrapper">
                    <h3 class="counter text-nowrap">{{ page.lets_talk.counter.value }}</h3>
                    <p class="mb-0">{{ page.lets_talk.counter.label }}</p>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
      <div class="col-lg-5">
        <h2 class="display-4 mb-3">{{ page.lets_talk.title }}</h2>
        <p class="lead fs-lg">{{ page.lets_talk.subtitle }}</p>
        <p>{{ page.lets_talk.text }}</p>
        <a href="{{ page.lets_talk.button.url }}" class="btn btn-primary rounded mt-2">{{ page.lets_talk.button.label }}</a>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
