<section class="wrapper bg-light">
  <div class="container pb-14 pb-md-16">
    <div class="row gx-lg-8 gy-8 mt-5 mt-md-12 mt-lg-0 mb-15 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="row gx-md-5 gy-5">
          {% for image in page.what_we_do.images %}
          <div class="{{ image.class }}">
            <figure class="rounded"><img src="{{ image.src }}" srcset="{{ image.src2x }} 2x" alt=""></figure>
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h2 class="display-4 mb-3">{{ page.what_we_do.title }}</h2>
        <p class="lead fs-lg mb-8 pe-xxl-2">{{ page.what_we_do.subtitle }}</p>
        <div class="row gx-xl-10 gy-6">
          {% for service in page.what_we_do.services %}
          <div class="col-md-6 col-lg-12 col-xl-6">
            <div class="d-flex flex-row">
              <div>
                <div class="icon btn btn-circle btn-lg btn-soft-primary pe-none me-5"> <i class="uil uil-{{ service.icon }}"></i> </div>
              </div>
              <div>
                <h4 class="mb-1">{{ service.title }}</h4>
                <p class="mb-0">{{ service.text }}</p>
              </div>
            </div>
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!--/.row -->
        
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <h2 class="display-4 mb-3">{{ page.process.title }}</h2>
    <p class="lead fs-lg mb-8">{{ page.process.subtitle }}</p>
    <div class="row gx-lg-8 gx-xl-12 gy-6 process-wrapper line">
      {% for step in page.process.steps %}
      <div class="col-md-6 col-lg-3"> 
        <span class="icon btn btn-circle btn-lg {% if step.active %}btn-primary{% else %}btn-soft-primary{% endif %} pe-none mb-4">
          <span class="number">{{ step.number }}</span>
        </span>
        <h4 class="mb-1">{{ step.title }}</h4>
        <p>{{ step.text }}</p>
      </div>
      <!--/column -->
      {% endfor %}
    </div>
    <!--/.row -->
  </div>
</section>
