<section class="wrapper bg-soft-primary">
  <div class="container py-14 py-md-16">
    <div class="row align-items-center mb-6">
      <div class="col-md-8 col-lg-9 col-xl-8 col-xxl-7 pe-xl-20">
        <h2 class="display-6 mb-0">{{ page.more_jobs.title }}</h2>
      </div>
      <!--/column -->
      <div class="col-md-4 col-lg-3 ms-md-auto text-md-end mt-5 mt-md-0">
        <a href="{{ page.more_jobs.button.url }}" class="btn btn-primary rounded-pill mb-0">{{ page.more_jobs.button.label }}</a>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <div class="row gy-6">
      {% for job in page.more_jobs.positions %}
      <div class="col-md-6 col-lg-4">
        <a href="#" class="card shadow-lg lift h-100">
          <div class="card-body p-5 d-flex flex-row">
            <div>
              <span class="avatar {{ job.avatar_bg }} text-white w-11 h-11 fs-20 me-4">{{ job.avatar }}</span>
            </div>
            <div>
              <span class="badge {{ job.type_bg }} rounded py-1 mb-2">{{ job.type }}</span>
              <h4 class="mb-1">{{ job.title }}</h4>
              <p class="mb-0 text-body">{{ job.location }}</p>
            </div>
          </div>
        </a>
      </div>
      <!--/column -->
      {% endfor %}
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
