<section class="wrapper bg-light">
<div class="container pt-15 pt-md-18 mb-14 mb-md-20">
<div class="row gx-lg-8 gx-xl-12 gy-10  align-items-center">
  <div class="col-md-8 col-lg-6 order-lg-2 position-relative">
    <div class="shape bg-soft-primary rounded-circle rellax w-20 h-20" data-rellax-speed="1" style="top: -2rem; right: -1.9rem;"></div>
    <figure class="rounded"><img src="{{ page.services.image }}" srcset="{{ page.services.image2x }} 2x" alt=""></figure>
  </div>
  <!--/column -->
  <div class="col-lg-6">
    <h2 class="display-4 mb-3">{{ page.services.title }}</h2>
    <p class="lead fs-lg mb-8 pe-xxl-2">{{ page.services.subtitle | markdownify }}</p>
    <div class="row gx-xl-10 gy-6">
      {% for service in page.services.service_items %}
      <div class="col-md-6 col-lg-12 col-xl-6">
        <div class="d-flex flex-row">
          <div>
            <img src="{{ service.icon }}" class="svg-inject icon-svg icon-svg-sm text-primary me-5" alt="" />
          </div>
          <div>
            <h4 class="mb-1">{{ service.title }}</h4>
            <p class="mb-0">{{ service.text }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!--/column -->
</div>
<!--/.row -->
</div>
</section>