<section class="wrapper bg-light">
<div class="container pt-15 pt-md-18">
<div class="row gy-10 gy-sm-13 gx-lg-3 align-items-center">
  <div class="col-md-8 col-lg-6 position-relative">
    <a href="{{ page.video.video_url }}" class="btn btn-circle btn-primary btn-play ripple mx-auto mb-5 position-absolute" style="top:50%; left: 50%; transform: translate(-50%,-50%); z-index:3;" data-glightbox><i class="icn-caret-right"></i></a>
    <div class="shape rounded bg-soft-primary rellax d-md-block" data-rellax-speed="0" style="bottom: -1.8rem; right: -1.5rem; width: 85%; height: 90%; "></div>
    <figure class="rounded"><img src="{{ page.video.image }}" srcset="{{ page.video.image2x }} 2x" alt=""></figure>
  </div>
  <!--/column -->
  <div class="col-lg-5 col-xl-4 offset-lg-1">
    <h3 class="display-4 mb-3">{{ page.video.title }}</h3>
    <p class="lead fs-lg mb-6">{{ page.video.subtitle | markdownify }}</p>
    <ul class="progress-list">
      {% for skill in page.video.skills %}
      <li>
        <p>{{ skill.title }}</p>
        <div class="progressbar line primary" data-value="{{ skill.percentage }}"></div>
      </li>
      {% endfor %}
    </ul>
    <!-- /.progress-list -->
  </div>
  <!--/column -->
</div>
<!--/.row -->
</div>
</section>