<section class="wrapper {{ page.hero.bg_color | default: 'bg-light' }}">
  <div class="container pt-12 pt-md-14 pb-14 pb-md-16">
    <div class="row">
      <div class="col-lg-9 col-xl-8 mx-auto">
        <figure class="mb-10">
          <img class="img-fluid" 
               src="{{ page.error_404.image.src }}" 
               srcset="{{ page.error_404.image.src2x }} 2x" 
               alt="{{ page.error_404.image.alt }}">
        </figure>
      </div>
      <!-- /column -->
      <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto text-center">
        <h1 class="mb-3">{{ page.error_404.title }}</h1>
        <p class="lead mb-7 px-md-12 px-lg-5 px-xl-7">{{ page.error_404.text }}</p>
        <a href="{{ page.error_404.button.url }}" class="btn btn-primary rounded-pill">{{ page.error_404.button.label }}</a>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
