
<section class="wrapper bg-light">
  <div class="container text-center">

    <div class="px-lg-5">
    <div class="row gx-0 gx-md-8 gx-xl-12 gy-8 align-items-center">
    {% for client in site.data.clients.clients | limit: 6 %}
    <div class="col-4 col-md-2">
      <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4">
        {% if client.url and client.url != "#" %}
        <a href="{{ client.url }}">
          <img src="{{ client.image | relative_url }}" alt="{{ client.name }}" />
        </a>
        {% else %}
        <img src="{{ client.image | relative_url }}" alt="{{ client.name }}" />
        {% endif %}
      </figure>
    </div>
    <!--/column -->
    {% endfor %}
  </div>
  <!--/.row -->
</div>
<!-- /div -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->