<div class="row gy-10 gx-lg-8 gx-xl-12 mb-14 mb-md-16 align-items-center">
  <div class="col-md-8 col-lg-6">
    <figure class="rounded"><img src="{{ page.why_choose.image }}" srcset="{{ page.why_choose.image2x }} 2x" alt=""></figure>
  </div>
  <!--/column -->
  <div class="col-lg-6">
    <h2 class="fs-15 text-uppercase text-muted mb-3">{{ page.why_choose.subtitle }}</h2>
    <h3 class="display-4 mb-7">{{ page.why_choose.title }}</h3>
    <div class="accordion accordion-wrapper" id="accordionExample">
      {% for accordion in page.why_choose.accordions %}
      <div class="card plain accordion-item">
        <div class="card-header" id="{{ accordion.id }}">
          <button class="accordion-button {% unless accordion.show %}collapsed{% endunless %}" data-bs-toggle="collapse" data-bs-target="#{{ accordion.collapse_id }}" aria-expanded="{% if accordion.show %}true{% else %}false{% endif %}" aria-controls="{{ accordion.collapse_id }}"> {{ accordion.title }} </button>
        </div>
        <!--/.card-header -->
        <div id="{{ accordion.collapse_id }}" class="accordion-collapse collapse {% if accordion.show %}show{% endif %}" aria-labelledby="{{ accordion.id }}" data-bs-parent="#accordionExample">
          <div class="card-body">
            <p>{{ accordion.text }}</p>
          </div>
          <!--/.card-body -->
        </div>
        <!--/.accordion-collapse -->
      </div>
      <!--/.accordion-item -->
      {% endfor %}
    </div>
    <!--/.accordion -->
  </div>
  <!--/column -->
</div>
<!--/.row -->
