<section class="wrapper {{ page.stats.bg_color }}">
  <div class="container py-14 py-md-16">
    <div class="row mb-10">
      <div class="col-xl-10 mx-auto">
        <div class="row align-items-center counter-wrapper gy-6 text-center">
          {% for stat in page.stats.items %}
          <div class="col-md-3">
            <img src="/assets/img/icons/lineal/{{ stat.icon }}.svg" class="svg-inject icon-svg icon-svg-lg text-primary mb-3" alt="" />
            <h3 class="counter">{{ stat.count }}</h3>
            <p>{{ stat.label }}</p>
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
