<section class="wrapper">
  <div class="container">
    <div class="row gx-md-8 gx-xl-12 gy-6 align-items-center">
      <div class="col-md-8 col-lg-6 order-lg-2 mx-auto">
        <div class="img-mask mask-2 px-xxl-8"><img src="{{ page.about.image }}" srcset="{{ page.about.image2x }} 2x" alt="" /></div>
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h2 class="display-3 mb-3">{{ page.about.title }}</h2>
        <p class="lead fs-lg">{{ page.about.subtitle }}</p>
        <p>{{ page.about.text1 }}</p>
        <p>{{ page.about.text2 }}</p>
        <a href="{{ page.about.button_url }}" class="btn btn-primary rounded-pill mt-2">{{ page.about.button_text }}</a>
      </div>
      <!--/column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
