<section class="wrapper">
  <div class="container py-14 py-md-16">
    <div class="row gx-lg-0 gy-10 align-items-center">
      <div class="col-lg-5 offset-lg-1 order-lg-2">
        <h2 class="display-3 mb-3">{{ page.expertise.title }}</h2>
        <p class="lead fs-lg">{{ page.expertise.subtitle }}</p>
        <p>{{ page.expertise.text }}</p>
        <a href="{{ page.expertise.button_url }}" class="btn btn-primary rounded-pill mt-3">{{ page.expertise.button_text }}</a>
      </div>
      <!-- /column -->
      <div class="col-lg-6">
        <div class="row g-6 text-center">
          <div class="col-md-6">
            <div class="row">
              <div class="col-lg-12">
                <div class="card shadow-lg mb-6">
                  <div class="card-body">
                    <img src="/assets/img/icons/solid/{{ page.expertise.services[0].icon }}.svg" class="svg-inject icon-svg icon-svg-sm solid-duo text-purple-aqua mb-3" alt="" />
                    <h3>{{ page.expertise.services[0].title }}</h3>
                    <p class="mb-2">{{ page.expertise.services[0].text }}</p>
                    <a href="{{ page.expertise.services[0].link }}" class="more hover link-primary">{{ page.expertise.services[0].link_text }}</a>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!-- /column -->
              <div class="col-lg-12">
                <div class="card shadow-lg">
                  <div class="card-body">
                    <img src="/assets/img/icons/solid/{{ page.expertise.services[1].icon }}.svg" class="svg-inject icon-svg icon-svg-sm solid-duo text-purple-aqua mb-3" alt="" />
                    <h3>{{ page.expertise.services[1].title }}</h3>
                    <p class="mb-2">{{ page.expertise.services[1].text }}</p>
                    <a href="{{ page.expertise.services[1].link }}" class="more hover link-primary">{{ page.expertise.services[1].link_text }}</a>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /column -->
          <div class="col-md-6">
            <div class="row">
              <div class="col-lg-12 order-md-2">
                <div class="card shadow-lg mb-6 mb-md-0">
                  <div class="card-body">
                    <img src="/assets/img/icons/solid/{{ page.expertise.services[2].icon }}.svg" class="svg-inject icon-svg icon-svg-sm solid-duo text-purple-aqua mb-3" alt="" />
                    <h3>{{ page.expertise.services[2].title }}</h3>
                    <p class="mb-2">{{ page.expertise.services[2].text }}</p>
                    <a href="{{ page.expertise.services[2].link }}" class="more hover link-primary">{{ page.expertise.services[2].link_text }}</a>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!-- /column -->
              <div class="col-lg-12">
                <div class="card shadow-lg mb-md-6 mt-lg-6">
                  <div class="card-body">
                    <img src="/assets/img/icons/solid/{{ page.expertise.services[3].icon }}.svg" class="svg-inject icon-svg icon-svg-sm solid-duo text-purple-aqua mb-3" alt="" />
                    <h3>{{ page.expertise.services[3].title }}</h3>
                    <p class="mb-2">{{ page.expertise.services[3].text }}</p>
                    <a href="{{ page.expertise.services[3].link }}" class="more hover link-primary">{{ page.expertise.services[3].link_text }}</a>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
