<section class="wrapper bg-gradient-blend">
  <div class="container pt-16 pt-md-18 pb-12 pb-md-18 pb-lg-20">
    <div class="row">
      <div class="col-lg-3 mx-auto">
        <div class="img-mask mask-2"><img src="{{ page.hero.profile_image }}" srcset="{{ page.hero.profile_image2x }} 2x" alt="" /></div>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="row mt-10">
      <div class="col-md-10 col-lg-9 col-xxl-8 mx-auto text-center">
        <h2 class="fs-17 text-uppercase text-muted mb-3">{{ page.hero.greeting }}</h2>
        <h3 class="display-1 mb-5 px-xl-12">{{ page.hero.title }}</h3>
        <p class="lead fs-22">{{ page.hero.content }}</p>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="overflow-hidden">
    <div class="divider text-light mx-n2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 92.26"><path fill="currentColor" d="M1206,21.2c-60-5-119-36.92-291-5C772,51.11,768,48.42,708,43.13c-60-5.68-108-29.92-168-30.22-60,.3-147,27.93-207,28.23-60-.3-122-25.94-182-36.91S30,5.93,0,16.2V92.26H1440v-87l-30,5.29C1348.94,22.29,1266,26.19,1206,21.2Z"/></svg>
    </div>
  </div>
  <!-- /.overflow-hidden -->
</section>
<!-- /section -->
