<section class="wrapper">
  <div class="container pt-12 pt-md-0 ">
    <div class="grid grid-view projects-masonry mt-md-n20 mt-lg-n22">
      <div class="row g-8 g-lg-10 isotope">
        {% assign sorted_projects = site.projects | sort: 'date' | reverse %}
        {% for project in sorted_projects limit: 6 %}
        <div class="project item col-md-6 col-xl-4 {{ project.category | slugify }}">
          <div class="card shadow-lg">
            <figure class="card-img-top itooltip itooltip-{{ project.color | default: 'purple' }}" title='<h5 class="mb-0">Click to see the project</h5>'>
              <a href="{{ project.url | relative_url }}">
                <img src="{{ project.thumbnail | default: project.hero_image | relative_url }}" alt="{{ project.title }}" />
              </a>
            </figure>
            <div class="card-body p-7">
              <div class="post-header">
                <div class="post-category text-line mb-2 text-{{ project.color | default: 'purple' }}">{{ project.category }}</div>
                <h3 class="mb-0">{{ project.title }}</h3>
              </div>
              <!-- /.post-header -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.project -->
        {% endfor %}
      </div>
      <!-- /.row -->
    </div>
    <!-- /.grid -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
