<section class="wrapper">
  <div class="container pb-15 pb-md-17">
    <div class="row gx-md-8 gx-xl-12 mt-10 mt-md-13">
      <div class="col-lg-4">
        <h2 class="display-3 mb-3">{{ page.process.title }}</h2>
        <p>{{ page.process.subtitle }}</p>
      </div>
      <!-- /column -->
      <div class="col-lg-8">
        <div class="row gy-8 gx-md-8 gx-xl-12">
          {% for step in page.process.steps %}
          <div class="col-md-6">
            <div class="d-flex flex-row">
              <div>
                <img src="/assets/img/icons/solid/{{ step.icon }}.svg" class="svg-inject icon-svg icon-svg-sm solid-duo text-purple-aqua mt-1 me-4" alt="" />
              </div>
              <div>
                <h3 class="mb-1">{{ step.title }}</h3>
                <p class="mb-0">{{ step.text }}</p>
              </div>
            </div>
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
