<section class="wrapper">
  <div class="container pt-12 pt-md-0 pb-15 pb-md-17">
    <div class="grid mt-md-n19 mt-xl-n20 mt-xxl-n21">
      <div class="row isotope gy-6">
        {% for testimonial in site.data.testimonials.testimonials | limit: 4 %}
        <div class="item col-md-6 col-xl-3">
          <div class="card shadow-lg">
            <div class="card-body">
              <blockquote class="icon mb-0">
                <p>{{ testimonial.quote }}</p>
                <div class="blockquote-details">
                  <div class="info ps-0">
                    <h5 class="mb-1">{{ testimonial.author }}</h5>
                    <p class="mb-0">{{ testimonial.position }}</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!--/column -->
        {% endfor %}
      </div>
      <!-- /.row -->
    </div>
    <!-- /.grid -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
