<section class="wrapper bg-soft-primary">
  <div class="container py-14 py-md-16">
    <div class="row">
      <div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto text-center">
        <h2 class="fs-15 text-uppercase text-muted mb-3">{{ page.contact.title }}</h2>
        <h3 class="display-4 mb-7 px-lg-5 px-xl-0 px-xxl-5">{{ page.contact.subtitle }}</h3>
        <a href="{{ page.contact.button.url }}" class="btn btn-lg btn-primary rounded-pill">{{ page.contact.button.label }}</a>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
