<section id="home">
  <div class="wrapper bg-gray">
    <div class="container pt-10 pt-md-14 pb-14 pb-md-17 text-center">
      <div class="row text-center">
        <div class="col-lg-9 col-xxl-7 mx-auto" data-cues="zoomIn" data-group="welcome" data-interval="-200">
          <h2 class="display-1 mb-4">{{ page.hero.title }}</h2>
          <p class="lead fs-24 lh-sm px-md-5 px-xl-15 px-xxl-10">{{ page.hero.subtitle }}</p>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
      <div class="row text-center mt-10">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <figure><img class="w-auto" src="{{ page.hero.image }}" srcset="{{ page.hero.image2x }}" alt="" /></figure>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
</section>
<!-- /section -->
