<section class="wrapper image-wrapper bg-full bg-image bg-overlay bg-overlay-light-600 bg-content" data-image-src="{{ page.faq.bg_image | default: page.hero.bg_image }}">
  <div class="container py-14 pt-md-16 pt-lg-0 pb-md-17 position-relative" style="z-index: 2;">
    <div class="row">
      <div class="col-xl-11 col-xxl-10 mx-auto">
        <div class="mt-lg-n20 mt-xl-n22 mb-14 mb-md-16 rounded-xl">
          <div class="player" data-plyr-provider="vimeo" data-plyr-embed-id="{{ page.faq.video_embed }}"></div>
        </div>
        <div class="position-relative">
          {% for doodle in page.faq.doodles %}
          <img src="{{ doodle.image }}" class="{{ doodle.class }} position-absolute d-none d-lg-block" data-delay="1800" style="{{ doodle.style }}" alt="">
          {% endfor %}
          <h2 class="fs-16 text-uppercase text-muted mb-3 text-center">{{ page.faq.title }}</h2>
          <h3 class="display-3 mb-11 px-lg-8 px-xl-11 text-center">{{ page.faq.subtitle }}</h3>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-0">
            <div id="accordion-1" class="accordion-wrapper">
              {% assign faq_first_half = page.faq.faq_items | slice: 0, 3 %}
              {% for item in faq_first_half %}
              <div class="card accordion-item shadow-lg">
                <div class="card-header" id="accordion-heading-1-{{ forloop.index }}">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-1-{{ forloop.index }}" aria-expanded="false" aria-controls="accordion-collapse-1-{{ forloop.index }}">{{ item.question }}</button>
                </div>
                <!-- /.card-header -->
                <div id="accordion-collapse-1-{{ forloop.index }}" class="collapse" aria-labelledby="accordion-heading-1-{{ forloop.index }}" data-bs-target="#accordion-1">
                  <div class="card-body">
                    <p>{{ item.answer }}</p>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.collapse -->
              </div>
              <!-- /.card -->
              {% endfor %}
            </div>
            <!-- /.accordion-wrapper -->
          </div>
          <!--/column -->
          <div class="col-lg-6">
            <div id="accordion-2" class="accordion-wrapper">
              {% assign faq_second_half = page.faq.faq_items | slice: 3, 3 %}
              {% for item in faq_second_half %}
              <div class="card accordion-item shadow-lg">
                <div class="card-header" id="accordion-heading-2-{{ forloop.index }}">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-2-{{ forloop.index }}" aria-expanded="false" aria-controls="accordion-collapse-2-{{ forloop.index }}">{{ item.question }}</button>
                </div>
                <!-- /.card-header -->
                <div id="accordion-collapse-2-{{ forloop.index }}" class="collapse" aria-labelledby="accordion-heading-2-{{ forloop.index }}" data-bs-target="#accordion-2">
                  <div class="card-body">
                    <p>{{ item.answer }}</p>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.collapse -->
              </div>
              <!-- /.card -->
              {% endfor %}
            </div>
            <!-- /.accordion-wrapper -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
