<section class="wrapper bg-light">
  <div class="container pt-18 pt-md-20 pb-14 pb-md-16">
    <div class="row text-center">
      <div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto position-relative">
        {% for doodle in page.features.doodles %}
        <img src="{{ doodle.image }}" class="{{ doodle.class }} position-absolute d-none d-lg-block" style="{{ doodle.style }}" alt="">
        {% endfor %}
        <h2 class="fs-16 text-uppercase text-muted mb-3">{{ page.features.title }}</h2>
        <h3 class="display-3 mb-11 px-lg-5 px-xl-0 px-xxl-6">{{ page.features.subtitle }}</h3>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-xxl-11 mx-auto">
        <div class="row gx-md-8 gy-10 text-center">
          {% for feature in page.features.feature_items %}
          <div class="col-md-6 col-lg-3">
            <div class="svg-bg svg-bg-lg {{ feature.color }} rounded-xl mb-4"> 
              <img src="/assets/img/icons/solid/{{ feature.icon }}.svg" class="svg-inject icon-svg solid text-navy" alt="" /> 
            </div>
            <h4 class="fs-20">{{ feature.title }}</h4>
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
