<section class="wrapper bg-light">
  <div class="container">
<div class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-300" data-image-src="/assets/img/photos/bg16.png">
    <div class="card-body p-10 p-xl-12">
      <div class="row text-center">
        <div class="col-xl-11 col-xxl-9 mx-auto">
          <h2 class="fs-16 text-uppercase text-white mb-3">Join Our Community</h2>
          <h3 class="display-3 mb-8 px-lg-8 text-white">We are <span class="underline-3 style-2 yellow">trusted</span> by over 5000+ clients. Join them now and grow your business.</h3>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
      <div class="d-flex justify-content-center">
        <span><a class="btn btn-white rounded">Get Started</a></span>
      </div>
    </div>
    <!--/.card-body -->
  </div>
  <!--/.card -->
  </div>
  </section>