<section class="wrapper bg-light">
  <div class="container py-14 py-md-16">
    <div class="row gy-10 gy-sm-13 gx-md-8 gx-xl-12 align-items-center">
      <div class="col-lg-6">
        <div class="row gx-md-5 gy-5">
          {% for image in page.features.images %}
          <div class="{{image.class}}">
            <figure class="rounded {% if forloop.index == 1 %}mx-md-5{% endif %}">
              <img src="{{image.image}}" srcset="{{image.image2x}} 2x" alt="">
            </figure>
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h2 class="fs-16 text-uppercase text-muted mb-3">{{page.features.title_prefix}}</h2>
        <h3 class="display-3 mb-8">{{page.features.title}}</h3>
        <div class="row gy-6">
          {% for feature in page.features.features_list %}
          <div class="col-md-6">
            <div class="d-flex flex-row">
              <div>
                <img src="{{feature.icon}}" class="svg-inject icon-svg icon-svg-xs solid-mono text-{{feature.icon_color}} me-4" alt="" />
              </div>
              <div>
                <h4 class="mb-1">{{feature.title}}</h4>
                <p class="mb-0">{{feature.text}}</p>
              </div>
            </div>
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
