<section class="wrapper bg-gray">
  <div class="container py-14 py-md-17 pb-md-19">
    <div class="row align-items-center gy-8 mb-13">
      <div class="col-lg-7 text-center text-lg-start">
        <h2 class="fs-16 text-uppercase text-muted mb-3">{{page.progress.title_prefix}}</h2>
        <h3 class="display-3 mb-0 pe-xl-10 pe-xxl-15">{{page.progress.title}}</h3>
      </div>
      <!-- /column -->
      <div class="col-lg-5">
        <div class="row gy-6 text-center">
          {% for item in page.progress.progress_items %}
          <div class="col-md-6">
            <div class="progressbar semi-circle {{item.color}}" data-value="{{item.value}}"></div>
            <h4 class="mb-0">{{item.title}}</h4>
          </div>
          <!-- /column -->
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
