<section class="wrapper bg-light angled upper-end">
  <div class="container py-14 py-md-16">
    <div class="row">
      <div class="col-lg-9 col-xl-8 col-xxl-7">
        <h2 class="fs-16 text-uppercase text-line text-primary mb-3">{{ page.case_studies.subtitle }}</h2>
        <h3 class="display-4 mb-9">{{ page.case_studies.title }}</h3>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="swiper-container blog grid-view mb-10" data-margin="30" data-dots="true" data-items-xl="3" data-items-md="2" data-items-xs="1">
        <div class="swiper">
          <div class="swiper-wrapper">
            {% assign sorted_posts = site.posts | where: "category", "AI" | reverse %}
            {% for post in sorted_posts limit: 4 %}
            <div class="swiper-slide">
              <article>
                <figure class="overlay overlay-1 hover-scale rounded mb-6">
                  <a href="{{ post.url | relative_url }}"> 
                    <img src="{{ post.featured_image | default: '/assets/img/photos/blog1.jpg' | relative_url }}" alt="{{ post.title }}" />
                  </a>
                  <figcaption>
                    <h5 class="from-top mb-0">Read More</h5>
                  </figcaption>
                </figure>
                <div class="post-header">
                  <h2 class="post-title h3 mb-3"><a class="link-dark" href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
                </div>
                <!-- /.post-header -->
                <div class="post-footer">
                  <ul class="post-meta">
                    <li class="post-date"><i class="uil uil-calendar-alt"></i><span>{{ post.date | date: "%B %d, %Y" }}</span></li>
                    <li class="post-comments"><a href="#"><i class="uil uil-file-alt fs-15"></i>{{ post.category }}</a></li>
                  </ul>
                  <!-- /.post-meta -->
                </div>
                <!-- /.post-footer -->
              </article>
              <!-- /article -->
            </div>
            <!--/.swiper-slide -->
            {% endfor %}
          </div>
          <!-- /.swiper-wrapper -->
        </div>
        <!-- /.swiper -->
      </div>
      <!-- /.swiper-container -->
  </div>
  <!-- /.container -->
</section>