<section class="wrapper bg-{{ page.company_facts.bg_color }}">
  <div class="container py-14 py-md-17 pb-md-21">
    <div class="row gx-lg-8 gx-xl-12 gy-10 gy-lg-0 mb-2 align-items-end">
      <div class="col-lg-4">
        <h2 class="fs-16 text-uppercase text-line text-primary mb-3">{{ page.company_facts.subtitle }}</h2>
        <h3 class="display-4 mb-0 pe-xxl-15">{{ page.company_facts.title }}</h3>
      </div>
      <!-- /column -->
      <div class="col-lg-8 mt-lg-2">
        <div class="row align-items-center counter-wrapper gy-6 text-center">
          {% for counter in page.company_facts.counters %}
          <div class="col-md-4">
            <h3 class="counter counter-lg">{{ counter.value }}</h3>
            <p>{{ counter.label }}</p>
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>