<section class="wrapper bg-{{ page.hero.bg_color }} angled {{ page.hero.angled_position }}">
  <div class="container pt-7 pt-md-11 pb-8">
    <div class="row gx-0 gy-10 align-items-center">
      <div class="col-lg-6" data-cues="slideInDown" data-group="page-title" data-delay="600">
        <h1 class="display-1 text-white mb-4">{{ page.hero.title }}</h1>
        <p class="lead fs-24 lh-sm text-white mb-7 pe-md-18 pe-lg-0 pe-xxl-15">{{ page.hero.subtitle }}</p>
        <div>
          {% for button in page.hero.buttons %}
            <a href="{{ button.url }}" class="btn {{ button.class }}">{{ button.label }}</a>
          {% endfor %}
        </div>
      </div>
      <!-- /column -->
      <div class="col-lg-5 offset-lg-1 mb-n18" data-cues="slideInDown">
        <div class="position-relative">
          <a href="{{ page.hero.video_url }}" class="btn btn-circle btn-primary btn-play ripple mx-auto mb-6 position-absolute" style="top:50%; left: 50%; transform: translate(-50%,-50%); z-index:3;" data-glightbox><i class="icn-caret-right"></i></a>
          <figure class="rounded shadow-lg"><img src="{{ page.hero.image }}" srcset="{{ page.hero.image2x }} 2x" alt=""></figure>
        </div>
        <!-- /div -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>