<section class="wrapper bg-light">
  <div class="container pt-14 pt-md-18">
<div class="row gy-10 gy-sm-13 gx-lg-3 align-items-center">
  <div class="col-md-8 col-lg-6 position-relative">
    <div class="shape bg-dot primary rellax w-17 h-21" data-rellax-speed="1" style="top: -2rem; left: -1.9rem;"></div>
    <div class="shape rounded bg-soft-primary rellax d-md-block" data-rellax-speed="0" style="bottom: -1.8rem; right: -1.5rem; width: 85%; height: 90%; "></div>
    <figure class="rounded"><img src="{{ page.how_it_works.image }}" srcset="{{ page.how_it_works.image2x }} 2x" alt="" /></figure>
  </div>
  <!--/column -->
  <div class="col-lg-5 col-xl-4 offset-lg-1">
    <h2 class="fs-16 text-uppercase text-line text-primary mb-3">{{ page.how_it_works.title }}</h2>
    <h3 class="display-4 mb-7">{{ page.how_it_works.subtitle }}</h3>
    
    {% for step in page.how_it_works.steps %}
    <div class="d-flex flex-row {% unless forloop.last %}mb-6{% endunless %}">
      <div>
        <span class="icon btn btn-block btn-soft-primary pe-none me-5"><span class="number fs-18">{{ step.number }}</span></span>
      </div>
      <div>
        <h4 class="mb-1">{{ step.title }}</h4>
        <p class="mb-0">{{ step.text }}</p>
      </div>
    </div>
    {% endfor %}
    
  </div>
  <!--/column -->
</div>
<!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->