<section class="wrapper image-wrapper bg-image bg-overlay" data-image-src="{{ page.join_us.bg_image }}">
  <div class="container py-14 py-md-16">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="fs-16 text-uppercase text-line text-white mb-3">{{ page.join_us.title }}</h2>
        <h3 class="display-4 mb-6 text-white pe-xxl-18">{{ page.join_us.subtitle }}</h3>
        <a href="{{ page.join_us.button_url }}" class="btn btn-white rounded mb-0 text-nowrap">{{ page.join_us.button_text }}</a>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>