<section class="wrapper bg-light angled upper-end lower-start">
  <div class="container pt-16 pt-md-18 position-relative">
    <div class="position-relative mt-n18 mt-md-n23">
      <div class="shape rounded-circle bg-line primary rellax w-18 h-18" data-rellax-speed="1" style="top: -2rem; right: -2.7rem; z-index:0;"></div>
      <div class="shape rounded-circle bg-soft-primary rellax w-18 h-18" data-rellax-speed="1" style="bottom: -1rem; left: -3rem; z-index:0;"></div>
      <div class="card shadow-lg">
        <div class="row gx-0">
          <div class="col-lg-6 image-wrapper bg-image bg-cover rounded-top rounded-lg-start" data-image-src="/assets/img/photos/tm1.jpg">
          </div>
          <!--/column -->
          <div class="col-lg-6">
            <div class="p-10 p-md-11 p-lg-13">
              <div class="swiper-container dots-closer mb-4" data-margin="30" data-dots="true">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    {% for testimonial in site.data.testimonials.testimonials %}
                    <div class="swiper-slide">
                      <blockquote class="icon icon-top fs-lg text-center">
                        <p>{{ testimonial.quote }}</p>
                        <div class="blockquote-details justify-content-center text-center">
                          <div class="info ps-0">
                            <h5 class="mb-1">{{ testimonial.name }}</h5>
                            <p class="mb-0">{{ testimonial.position }}</p>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                    <!--/.swiper-slide -->
                    {% endfor %}
                  </div>
                  <!-- /.swiper-wrapper -->
                </div>
                <!-- /.swiper -->
              </div>
              <!-- /.swiper-container -->
            </div>
            <!--/div -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /div -->
  </div>
  <!-- /.container -->
</section>
