<section class="wrapper bg-light">
  <div class="container py-4 py-md-7">
    <div class="card bg-soft-primary">
      <div class="card-body p-12">
        <div class="row gx-md-8 gx-xl-12 gy-10">
          <div class="col-lg-6">
            <img src="{{ page.contact.icon }}" class="svg-inject icon-svg icon-svg-sm mb-4" alt="" />
            <h2 class="display-4 mb-3 pe-lg-10">{{ page.contact.title }}</h2>
            <p class="lead pe-lg-12 mb-0">{{ page.contact.text }}</p>
          </div>
          <!-- /column -->
          {% if include.form %}
          <div class="col-lg-6">
            <form class="contact-form needs-validation" method="post" action="/assets/php/contact.php" novalidate>
              <div class="messages"></div>
              <div class="row gx-4">
                <div class="col-md-6">
                  <div class="form-floating mb-4">
                    <input id="form_name" type="text" name="name" class="form-control border-0" placeholder="Jane" required="required" data-error="First Name is required.">
                    <label for="form_name">Name *</label>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                    <div class="invalid-feedback">
                      Please enter your name.
                    </div>
                  </div>
                </div>
                <!-- /column -->
                <div class="col-md-6">
                  <div class="form-floating mb-4">
                    <input id="form_email" type="email" name="email" class="form-control border-0" placeholder="jane.doe@example.com" required="required" data-error="Valid email is required.">
                    <label for="form_email">Email *</label>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                    <div class="invalid-feedback">
                      Please provide a valid email address.
                    </div>
                  </div>
                </div>
                <!-- /column -->
                <div class="col-12">
                  <div class="form-floating mb-4">
                    <textarea id="form_message" name="message" class="form-control border-0" placeholder="Your message" style="height: 150px" required></textarea>
                    <label for="form_message">Message *</label>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                    <div class="invalid-feedback">
                      Please enter your messsage.
                    </div>
                  </div>
                </div>
                <!-- /column -->
                <div class="col-12">
                  <input type="submit" class="btn btn-outline-primary rounded-pill btn-send mb-3" value="Send message">
                </div>
                <!-- /column -->
              </div>
              <!-- /.row -->
            </form>
            <!-- /form -->
          </div>
          <!-- /column -->
          {% endif %}
        </div>
        <!-- /.row -->
      </div>
      <!--/.card-body -->
    </div>
    <!--/.card -->
   
  </div>
  <!-- /.container -->
</section>
