<section class="wrapper bg-gray">
  <div class="container pt-12 pt-md-14 pb-14 pb-md-16">
    <div class="row gy-10 gy-md-13 gy-lg-0 align-items-center">
      <div class="col-md-8 col-lg-5 d-flex position-relative mx-auto" data-cues="slideInDown" data-group="header">
        <div class="img-mask mask-1"><img src="{{ page.hero.image }}" srcset="{{ page.hero.image2x }} 2x" alt="" /></div>
        <div class="card shadow-lg position-absolute" style="bottom: 10%; right: 2%;">
          <div class="card-body py-4 px-5">
            <div class="d-flex flex-row align-items-center">
              <div>
                <img src="{{ page.hero.card.icon }}" class="svg-inject icon-svg icon-svg-sm text-primary mx-auto me-3" alt="" />
              </div>
              <div>
                <h3 class="counter mb-0 text-nowrap">{{ page.hero.card.count }}</h3>
                <p class="fs-14 lh-sm mb-0 text-nowrap">{{ page.hero.card.text }}</p>
              </div>
            </div>
          </div>
          <!--/.card-body -->
        </div>
        <!--/.card -->
      </div>
      <!--/column -->
      <div class="col-lg-6 offset-lg-1 col-xxl-5 text-center text-lg-start" data-cues="slideInDown" data-group="page-title" data-delay="600">
        <h1 class="display-1 mb-5">{{ page.hero.title }}</h1>
        <p class="lead fs-25 lh-sm mb-7 px-md-10 px-lg-0">{{ page.hero.subtitle }}</p>
        <div class="d-flex justify-content-center justify-content-lg-start" data-cues="slideInDown" data-group="page-title-buttons" data-delay="900">
          {% for button in page.hero.buttons %}
          <span><a href="{{ button.url }}" class="{{ button.class }}">{{ button.label }}</a></span>
          {% endfor %}
        </div>
      </div>
      <!--/column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
