<section class="wrapper bg-light wrapper-border">
  <div class="container py-14 py-md-18">
    <div class="row gx-lg-8 gx-xl-12 gy-6 mb-10">
      <div class="col-lg-6 order-lg-2">
        <ul class="progress-list">
          {% for item in page.skills.progress_items %}
          <li>
            <p>{{ item.name }}</p>
            <div class="progressbar line {{ item.class }}" data-value="{{ item.value }}"></div>
          </li>
          {% endfor %}
        </ul>
        <!-- /.progress-list -->
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h2 class="display-4 mb-3">{{ page.skills.title }}</h2>
        <p class="lead fs-20 mb-5">{{ page.skills.text }}</p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <div class="row gx-lg-8 gx-xl-12 gy-6 text-center">
      {% for service in page.skills.service_items %}
      <div class="col-md-6 col-lg-3">
        <img src="{{ service.icon }}" class="svg-inject icon-svg icon-svg-md text-{{ service.color }} mb-3" alt="" />
        <h4>{{ service.title }}</h4>
        <p class="mb-2">{{ service.text }}</p>
      </div>
      <!--/column -->
      {% endfor %}
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
