<section class="wrapper bg-light">
    <div class="container pt-14 pt-md-17 pb-14 pb-md-17">
<div class="row gx-lg-8 gx-xl-10 mb-lg-19 mb-xl-22 align-items-center">
  <div class="col-lg-6">
    <figure><img src="{{ page.how_it_works.image }}" srcset="{{ page.how_it_works.image2x }} 2x" data-cue="fadeIn" alt="" /></figure>
  </div>
  <!-- /column -->
  <div class="col-lg-6">
    <h2 class="fs-15 text-uppercase text-muted mb-3">{{ page.how_it_works.title }}</h2>
    <h3 class="display-4 mb-5">{{ page.how_it_works.subtitle }}</h3>
    <p class="mb-8">{{ page.how_it_works.text }}</p>
    <div class="row gy-6 gx-xxl-8 process-wrapper" data-cues="slideInUp" data-group="process">
      {% for step in page.how_it_works.steps %}
      <div class="col-md-4"> 
        <img src="/assets/img/icons/lineal/{{ step.icon }}.svg" class="svg-inject icon-svg icon-svg-sm {{ step.color }} mb-3" alt="" />
        <h4 class="mb-1">{{ step.title }}</h4>
        <p class="mb-0">{{ step.text }}</p>
      </div>
      <!--/column -->
      {% endfor %}
    </div>
    <!--/.row -->
  </div>
  <!-- /column -->
</div>
<!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->