<section class="wrapper image-wrapper bg-auto no-overlay bg-image text-center bg-map" data-image-src="{{ page.cta.background_image }}">
  <div class="container pt-0 pb-14 pt-md-18 pb-md-18">
    <div class="row">
      <div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto">
        <h3 class="display-4 mb-8 px-lg-12">{{ page.cta.title }}</h3>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="d-flex justify-content-center" data-cues="slideInDown" data-group="join">
      {% for button in page.cta.buttons %}
      <span><a class="{{ button.class }}" href="{{ button.url }}">{{ button.label }}</a></span>
      {% endfor %}
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /section -->