<section class="wrapper bg-gradient-reverse-primary">
  <div class="container py-14 py-md-18">
    <div class="row gx-lg-8 gx-xl-12 gy-10 mb-8 align-items-center">
      <div class="col-lg-7 order-lg-2">
        <figure><img class="w-auto" src="{{ page.analyze.image }}" srcset="{{ page.analyze.image2x }} 2x" alt="" /></figure>
      </div>
      <!--/column -->
      <div class="col-lg-5">
        <h2 class="fs-16 text-uppercase text-muted mb-3">{{ page.analyze.subtitle }}</h2>
        <h3 class="display-4 mb-5">{{ page.analyze.title }}</h3>
        <p class="mb-7">{{ page.analyze.text }}</p>
        <div class="row">
          <div class="col-lg-9">
            <form action="#">
              <div class="form-floating input-group">
                <input type="url" class="form-control" placeholder="Enter Website URL" id="seo-check">
                <label for="seo-check">Enter Website URL</label>
                <button class="btn btn-primary" type="button">Check</button>
              </div> 
            </form>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
