<section class="wrapper bg-gradient-primary">
  <div class="container pt-10 pt-md-14 pb-8 text-center">
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
      <div class="col-lg-7">
        <figure><img class="w-auto" src="{{ page.hero.image }}" srcset="{{ page.hero.image2x }} 2x" alt="" /></figure>
      </div>
      <!-- /column -->
      <div class="col-md-10 offset-md-1 offset-lg-0 col-lg-5 text-center text-lg-start">
        <h1 class="display-1 mb-5 mx-md-n5 mx-lg-0">{{ page.hero.title }}</h1>
        <p class="lead fs-lg mb-7">{{ page.hero.subtitle }}</p>
        <span><a href="{{ page.hero.button.url }}" class="btn btn-primary rounded-pill me-2">{{ page.hero.button.label }}</a></span>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
