<section class="wrapper bg-light">
  <div class="container py-14 py-md-16">
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
      <div class="col-lg-7">
        <figure><img class="w-auto" src="{{ page.lets_talk.image }}" srcset="{{ page.lets_talk.image2x }} 2x" alt="" /></figure>
      </div>
      <!--/column -->
      <div class="col-lg-5">
        <h2 class="fs-16 text-uppercase text-muted mb-3">{{ page.lets_talk.subtitle }}</h2>
        <h3 class="display-4 mb-3">{{ page.lets_talk.title }}</h3>
        <p>{{ page.lets_talk.text }}</p>
        <a href="{{ page.lets_talk.button.url }}" class="btn btn-primary rounded-pill mt-2">{{ page.lets_talk.button.label }}</a>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
