<section class="wrapper bg-light angled upper-start lower-start">
  <div class="container py-14 pt-md-17 pb-md-14">
    <div class="row gx-md-8 gx-xl-12 gy-10 align-items-center">
      <div class="col-lg-6 order-lg-2">
       
          {% for step in page.strategy.steps %}
          <div class="card{% if forloop.index > 1 %} {% if forloop.index == 2 %}ms-lg-13 mt-6{% else %}mx-lg-6 mt-6{% endif %}{% endif %} shadow-lg">
            <div class="card-body p-6">
              <div class="d-flex flex-row">
                <div>
                  <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none me-4"><span class="number">{{ step.number }}</span></span>
                </div>
                <div>
                  <h4 class="mb-1">{{ step.title }}</h4>
                  <p class="mb-0">{{ step.text }}</p>
                </div>
              </div>
            </div>
            <!--/.card-body -->
          </div>
          {% endfor %}
          <!--/.card -->
        
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h2 class="fs-16 text-uppercase text-muted mb-3">{{ page.strategy.subtitle }}</h2>
        <h3 class="display-4 mb-5">{{ page.strategy.title }}</h3>
        {{ page.strategy.text | markdownify }}
        <a href="{{ page.strategy.button.url }}" class="btn btn-primary rounded-pill mb-0">{{ page.strategy.button.label }}</a>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
