<section class="wrapper bg-gradient-reverse-primary">
  <div class="container py-14 py-md-18">
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
      <div class="col-lg-7">
        <div class="row gx-md-5 gy-5">
          {% for quote in site.data.testimonials.testimonials | limit: 4 %}
          <div class="col-md-6 {% if forloop.index == 1 %}col-xl-5 align-self-end{% elsif forloop.index == 2 %}align-self-end{% elsif forloop.index == 3 %}col-xl-5 offset-xl-1{% else %}align-self-start{% endif %}">
            <div class="card shadow-lg">
              <div class="card-body">
                <blockquote class="icon mb-0">
                  <p>"{{ quote.quote }}"</p>
                  <div class="blockquote-details">
                    <div class="info p-0">
                      <h5 class="mb-1">{{ quote.name }}</h5>
                      <p class="mb-0">{{ quote.position }}</p>
                    </div>
                  </div>
                </blockquote>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
      <div class="col-lg-5">
        <h2 class="fs-16 text-uppercase text-muted mb-3 mt-lg-n6">{{ page.testimonials.subtitle }}</h2>
        <h3 class="display-4 mb-5">{{ page.testimonials.title }}</h3>
        <p>{{ page.testimonials.text }}</p>
        <a href="{{ page.testimonials.button.url }}" class="btn btn-primary rounded-pill mt-3">{{ page.testimonials.button.label }}</a>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
