<section class="wrapper bg-light">
  <div class="container py-14 py-md-16">
    <div class="row gx-lg-8 gx-xl-12 gy-10 mb-lg-22 mb-xl-24 align-items-center">
      <div class="col-lg-7">
        <figure><img class="w-auto" src="{{ page.whychoose.image }}" srcset="{{ page.whychoose.image2x }} 2x" alt="" /></figure>
      </div>
      <!--/column -->
      <div class="col-lg-5">
        <h2 class="fs-16 text-uppercase text-muted mb-3">{{ page.whychoose.subtitle }}</h2>
        <h3 class="display-4 mb-7">{{ page.whychoose.title }}</h3>
        <div class="accordion accordion-wrapper" id="accordionExample">
          {% for item in page.whychoose.accordion %}
          <div class="card plain accordion-item">
            <div class="card-header" id="heading{{ forloop.index }}">
              <button class="accordion-button {% unless item.show %}collapsed{% endunless %}" 
                data-bs-toggle="collapse" 
                data-bs-target="#collapse{{ forloop.index }}" 
                aria-expanded="{{ item.show }}" 
                aria-controls="collapse{{ forloop.index }}"> {{ item.title }} </button>
            </div>
            <!--/.card-header -->
            <div id="collapse{{ forloop.index }}" 
                class="accordion-collapse collapse {% if item.show %}show{% endif %}" 
                aria-labelledby="heading{{ forloop.index }}" 
                data-bs-parent="#accordionExample">
              <div class="card-body">
                <p>{{ item.text }}</p>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.accordion-collapse -->
          </div>
          <!--/.accordion-item -->
          {% endfor %}
        </div>
        <!--/.accordion -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
