<section class="wrapper {{ page.testimonials.bg_color }}">
  <div class="container py-14 py-md-17">
    <div class="row mt-md-n25 position-relative">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mx-auto text-center">
        <h2 class="fs-15 text-uppercase text-primary mb-3">{{ page.testimonials.title }}</h2>
        <h3 class="display-4 mb-10 px-xl-10 px-xxl-15">{{ page.testimonials.subtitle }}</h3>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="grid">
      <div class="row isotope gy-6">
        {% for item in page.testimonials.items %}
        <div class="item col-md-6 col-xl-4">
          <div class="card shadow-lg">
            <div class="card-body">
              <span class="ratings {{ item.rating }} mb-3"></span>
              <blockquote class="icon mb-0">
                <p>{{ item.text }}</p>
                <div class="blockquote-details">
                  <img class="rounded-circle w-12" src="{{ item.avatar }}" srcset="{{ item.avatar2x }} 2x" alt="" />
                  <div class="info">
                    <h5 class="mb-1">{{ item.name }}</h5>
                    <p class="mb-0">{{ item.role }}</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!--/column -->
        {% endfor %}
      </div>
      <!-- /.row -->
    </div>
    <!-- /.grid-view -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
