<section class="{{ page.team.bg_class }}">
  <div class="container pt-15 pt-md-17">
    <div class="row">
      <div class="col-xl-9 col-xxl-8 mx-auto text-center">
        <h2 class="{{ page.team.title_class }}">{{ page.team.title_tag }}</h2>
        <h3 class="{{ page.team.main_title_class }}">{{ page.team.main_title }}</h3>
        <p class="mb-8 px-lg-10 px-xl-0">{{ page.team.text }}</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <figure><img src="{{ page.team.image }}" alt="" /></figure>
</section>
<!-- /section -->
