<section class="{{ page.video.bg_class }}">
  <div class="container pt-15 pt-md-17 position-relative">
    <figure class="rounded mt-n21 mt-lg-n23 position-relative" data-cues="fadeIn" data-delay="250">
      <a href="{{ page.video.video_url }}" class="btn btn-circle btn-white btn-play ripple mx-auto position-absolute" style="top:50%; left: 50%; transform: translate(-50%,-50%); z-index:3;" data-glightbox><i class="icn-caret-right"></i></a>
      <video class="w-100 rounded caption-overlay d-block" poster="{{ page.video.poster }}" src="{{ page.video.video_url }}" autoplay loop playsinline muted></video>
    </figure>
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
