{% if include.topInfo %}
<header class="wrapper {{ include.wrapperClass | default: 'bg-light' }}">
{% include components/navbar/partials/navbar-info-top.html %}
{% endif %}
{% if include.topAlert %}
<header class="wrapper {{ include.wrapperClass | default: 'bg-light' }}">
{% include components/navbar/partials/navbar-alert-top.html %}
{% endif %}
<nav class="navbar navbar-expand-lg {{ include.classList | default: 'navbar-light navbar-bg-light' }}">
  {% if include.fancy %}
  <div class="container">
    <div class="navbar-collapse-wrapper bg-white d-flex flex-row flex-nowrap w-100 justify-content-between align-items-center">
  {% elsif include.centerNav %}
    <div class="container flex-lg-row flex-nowrap align-items-center">
  {% else %}
    <div class="container flex-lg-row flex-nowrap align-items-center">
  {% endif %}
    <div class="navbar-brand w-100">
      <a href="{{ '/' | relative_url }}">
        {% if include.logoBoth %}
          <img class="logo-dark" src="{{ site.data.theme.black_logo_1x | default: '/assets/img/logo-dark.webp' | relative_url }}" 
               srcset="{{ site.data.theme.black_logo_2x | default: '/assets/img/logo-dark@2x.webp' | relative_url }} 2x" alt="" />
          <img class="logo-light" src="{{ site.data.theme.light_logo_1x | default: '/assets/img/logo-light.webp' | relative_url }}" 
               srcset="{{ site.data.theme.light_logo_2x | default: '/assets/img/logo-light@2x.webp' | relative_url }} 2x" alt="" />
        {% elsif include.logoLight %}
          <img src="{{ site.data.theme.light_logo_1x | default: '/assets/img/logo-light.webp' | relative_url }}" 
               srcset="{{ site.data.theme.light_logo_2x | default: '/assets/img/logo-light@2x.webp' | relative_url }} 2x" alt="" />
        {% elsif include.logoAlt %}
          <img src="{{ site.data.theme.black_logo_1x | default: '/assets/img/logo-dark.webp' | relative_url }}" 
               srcset="{{ site.data.theme.black_logo_2x | default: '/assets/img/logo-dark@2x.webp' | relative_url }} 2x" alt="" />
        {% else %}
          <img src="{{ site.data.theme.logo_1x | default: '/assets/img/logo.webp' | relative_url }}" 
               srcset="{{ site.data.theme.logo_2x | default: '/assets/img/logo@2x.webp' | relative_url }} 2x" alt="" />
        {% endif %}
      </a>
    </div>
    <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
      <!-- DEBUG START -->
      <div class="offcanvas-header d-lg-none">
        <h3 class="text-white fs-30 mb-0">{{ site.data.theme.site_name | default: 'Sandbox' }}</h3>
        <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <!-- DEBUG END -->
      <div class="offcanvas-body {% if include.centerNav %}ms-lg-auto{% endif %} d-flex flex-column h-100">
        {% if include.onePage %}
          <!-- One Page Navigation -->
          {% include components/navigation/navigation-onepage.html %}
        {% elsif include.onePageDemo %}
          <!-- One Page Demo Navigation -->
          {% include components/navigation/navigation-onepage-demo.html %}
        {% elsif include.docs %}
          <!-- Documentation Navigation -->
          {% include components/navigation/navigation-docs.html %}
        {% else %}
          <!-- Standard Navigation -->
          {% include components/navigation/navigation.html centerLogo=include.centerLogo %}
        {% endif %}
        
        <div class="offcanvas-footer d-lg-none">
          <div>
            <a href="mailto:{{ site.data.theme.email | default: 'info@email.com' }}" class="link-inverse">{{ site.data.theme.email | default: 'info@email.com' }}</a>
            <br>{{ site.data.theme.phone_number | default: '00 (123) 456 78 90' }}<br>
            <nav class="nav social social-white mt-4">
              {% for social in site.data.theme.social_accounts.links limit:site.data.theme.social_accounts.links_shown %}
                <a href="{{ social.url }}"><i class="{{ social.icon }}"></i></a>
              {% endfor %}
            </nav>
          </div>
        </div>
        <!-- /.offcanvas-footer -->
      </div>
      <!-- /.offcanvas-body -->
    </div>
    <!-- /.navbar-collapse -->
    
    <div class="navbar-other {{ include.otherClassList | default: '' }}">
      <ul class="navbar-nav flex-row align-items-center ms-auto">
        {% if include.otherLanguageSelect %}
        <li class="nav-item dropdown language-select text-uppercase">
          <a class="nav-link dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ site.data.theme.default_language | default: 'En' }}
          </a>
          <ul class="dropdown-menu">
            {% for language in site.data.theme.languages %}
            <li class="nav-item"><a class="dropdown-item" href="{{ language.url }}">{{ language.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        
        {% if include.otherSocial %}
        <li class="nav-item">
          <nav class="nav social social-muted mb-0 ms-auto me-4">
            {% assign limit = site.data.social.social_accounts.links_shown | default: 4 %}
            {% for social in site.data.social.social_accounts.links limit:limit %}
            <a href="{{ social.url }}"><i class="{{ social.icon }}"></i></a>
            {% endfor %}
          </nav>
        </li>
        {% endif %}
        
        {% if include.otherSearch %}
        <li class="nav-item"><a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-search"><i class="{{ site.data.theme.nav_icons.search | default: 'uil uil-search' }}"></i></a></li>
        {% endif %}
        
        {% if include.otherInfo %}
        <li class="nav-item"><a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-info"><i class="{{ site.data.theme.nav_icons.info | default: 'uil uil-info-circle' }}"></i></a></li>
        {% endif %}
        
        {% if include.otherBtn %}
        <li class="nav-item d-none d-md-block">
          {% if include.otherBtnModal %}
          <a href="#" class="{{ include.otherBtnClassList | default: 'btn btn-sm btn-primary rounded-pill' }}" 
             data-bs-toggle="modal" 
             data-bs-target="#{{ include.otherBtnModal }}">{{ include.otherBtnText }}</a>
          {% else %}
          <a href="{{ include.otherBtnLink }}" 
             class="{{ include.otherBtnClassList | default: 'btn btn-sm btn-primary rounded-pill' }}"
             {% if include.otherLinksNewTab %}target="_blank"{% endif %}>{{ include.otherBtnText }}</a>
          {% endif %}
        </li>
        {% endif %}
        
        {% if include.otherLink %}
        <li class="nav-item d-none d-md-block">
          {% if include.otherLinkModal %}
          <a href="#" 
             class="nav-link"
             data-bs-toggle="modal" 
             data-bs-target="#{{ include.otherLinkModal }}">{{ include.otherLinkText }}</a>
          {% else %}
          <a href="{{ include.otherLinkLink }}" 
             class="nav-link"
             {% if include.otherLinksNewTab %}target="_blank"{% endif %}>{{ include.otherLinkText }}</a>
          {% endif %}
        </li>
        {% endif %}
        
        {% if include.otherShop %}
        <li class="nav-item"><a class="nav-link position-relative" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-cart"><i class="uil uil-shopping-cart"></i><span class="badge badge-cart bg-primary">{{ include.cartItemCount | default: '3' }}</span></a></li>
        {% endif %}
        
        <li class="nav-item d-lg-none">
          <button class="hamburger offcanvas-nav-btn"><span></span></button>
        </li>
      </ul>
    </div>
  {% if include.fancy %}
      </div>
      <!-- /.navbar-collapse-wrapper -->
    </div>
    <!-- /.container -->
  {% else %}
    </div>
    <!-- /.container -->
  {% endif %}
</nav>
<!-- /.navbar -->
{% if include.topInfo or include.topAlert %}
</header>
{% endif %}

{% if include.otherBtnModal or include.otherLinkModal %}
  <!-- Include modals as needed -->
  {% if include.otherBtnModal == "modal-signin" or include.otherLinkModal == "modal-signin" %}
    {% include helpers/modal-signin.html %}
  {% endif %}
  {% if include.otherBtnModal == "modal-signup" or include.otherLinkModal == "modal-signup" %}
    {% include helpers/modal-signup.html %}
  {% endif %}
{% endif %}

{% if include.otherInfo %}
  {% include components/navbar/offcanvas-info.html %}
{% endif %}

{% if include.otherShop %}
  {% include components/navbar/partials/offcanvas-cart.html %}
{% endif %}

{% if include.otherSearch %}
  {% include components/navbar/partials/offcanvas-search.html %}
{% endif %}
