<section class="video-wrapper bg-overlay bg-overlay-gradient px-0 mt-0 min-vh-80">
  <video poster="{{ page.hero_video.poster }}" src="{{ page.hero_video.video_src }}" autoplay loop playsinline muted></video>
  <div class="video-content">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-8 col-xl-6 text-center text-white mx-auto">
          <h1 class="display-1 fs-54 text-white mb-5">{{ page.hero_video.title }}</h1>
          <p class="lead fs-24 mb-0 mx-xxl-8">{{ page.hero_video.subtitle }}</p>
        </div>
        <!-- /column -->
      </div>
    </div>
    <!-- /.video-content -->
  </div>
  <!-- /.content-overlay -->
</section>
