<section class="wrapper image-wrapper bg-image bg-overlay" data-image-src="{{ page.community.background }}">
  <div class="container py-18">
    <div class="row text-center">
      <div class="col-lg-11 col-xl-10 col-xxl-8 mx-auto">
        <h2 class="fs-16 text-uppercase text-white mb-3">{{ page.community.title }}</h2>
        <h3 class="display-4 mb-6 text-white px-lg-5 px-xxl-0">{{ page.community.subtitle }}</h3>
        <a href="{{ page.community.button.url }}" class="{{ page.community.button.class }}">{{ page.community.button.label }}</a>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
