<section class="wrapper bg-soft-primary">
  <div class="container py-14 pt-md-17 pb-md-19">
    <div class="row gx-lg-8 gx-xl-12 gy-10 gy-lg-0 align-items-center">
      <div class="col-lg-4 text-center text-lg-start">
        <h2 class="fs-16 text-uppercase text-primary mb-3">{{ page.company_facts.title }}</h2>
        <h3 class="display-4 mb-3 pe-xxl-15">{{ page.company_facts.subtitle }}</h3>
      </div>
      <!-- /column -->
      <div class="col-lg-8 mt-lg-2">
        <div class="row align-items-center counter-wrapper gy-6 text-center">
          {% for counter in page.company_facts.counters %}
          <div class="col-md-4">
            <h3 class="counter counter-lg">{{ counter.count }}</h3>
            <p>{{ counter.text }}</p>
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
