<section class="wrapper bg-soft-primary">
  <div class="container pt-10 pt-md-14 pb-14 pb-md-0">
    <div class="row gx-md-8 gx-lg-12 gy-3 gy-lg-0 mb-13">
      <div class="col-lg-6">
        <h1 class="display-1 fs-66 lh-xxs mb-0">{{ page.hero.title }}</h1>
      </div>
      <!-- /column -->
      <div class="col-lg-6">
        <p class="lead fs-25 my-3">{{ page.hero.subtitle }}</p>
        <a href="{{ page.hero.button.url }}" class="{{ page.hero.button.class }}">{{ page.hero.button.label }}</a>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="position-relative">
      <div class="shape bg-dot primary rellax w-17 h-21" data-rellax-speed="1" style="top: -2.5rem; right: -2.7rem;"></div>
      <figure class="rounded mb-md-n20"><img src="{{ page.hero.image }}" srcset="{{ page.hero.image2x }} 2x" alt="" /></figure>
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
