<section class="wrapper bg-light">
  <div class="container py-16 py-md-17">
    <div class="grid">
      <div class="row isotope gy-6 mt-n19 mt-md-n22">
        {% for testimonial in site.data.testimonials.testimonials | limit: 4 %}
        <div class="item col-md-6 col-xl-3">
          <div class="card shadow-lg">
            <div class="card-body">
              <span class="ratings {{ testimonial.rating }} mb-3"></span>
              <blockquote class="icon mb-0">
                <p>"{{ testimonial.quote }}"</p>
                <div class="blockquote-details">
                  <div class="info ps-0">
                    <h5 class="mb-1">{{ testimonial.name }}</h5>
                    <p class="mb-0">{{ testimonial.position }}</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!--/column -->
        {% endfor %}
      </div>
      <!-- /.row -->
    </div>
    <!-- /.grid-view -->
     </div>
     </section>
