<section class="section-frame {{ page.hero.wrapper_classes }}">
  <div class="wrapper image-wrapper bg-image bg-cover bg-overlay bg-overlay-light-500" data-image-src="{{ page.hero.background_image }}">
    <div class="container py-16 py-md-18 text-center position-relative">
      {% if page.hero.has_shapes %}
      <div class="position-absolute shape yellow d-none d-lg-block w-5" style="top: 18%; left: 5%;"><img src="/assets/img/svg/pie.svg" class="svg-inject icon-svg w-100 h-100" alt="" /></div>
      <div class="position-absolute shape leaf d-none d-lg-block w-10" style="bottom: 30%; left: 2%;"><img src="/assets/img/svg/scribble.svg" class="svg-inject icon-svg w-100 h-100" alt="" /></div>
      <div class="position-absolute shape fuchsia d-none d-lg-block w-6" style="top: 20%; right: 2%; transform: rotate(70deg);"><img src="/assets/img/svg/tri.svg" class="svg-inject icon-svg w-100 h-100" alt="" /></div>
      <div class="position-absolute shape grape d-none d-lg-block w-6" style="bottom: 28%; right: 5%;"><img src="/assets/img/svg/circle.svg" class="svg-inject icon-svg w-100 h-100" alt="" /></div>
      {% endif %}
      <div class="row">
        <div class="col-lg-9 col-xxl-8 mx-auto">
          <h1 class="display-1 fs-70 px-md-10 px-lg-0 px-xl-8 mb-5">{{ page.hero.title }}</h1>
          <p class="lead fs-24 px-md-10 px-lg-0 mx-lg-n10 mx-xl-0 mb-8">{{ page.hero.subtitle }}</p>
          <a href="{{ page.hero.button.url }}" class="btn btn-lg btn-primary btn-icon btn-icon-end">{{ page.hero.button.text }} <i class="uil uil-arrow-up-right"></i></a>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
</section>
<!-- /section -->
